{% extends "profile/userprofile_base.html" %}

{% block content %}
<div class="content">
        <div id="calc-tabs">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top"><a href="{% url userprofile_edit %}">Мои данные</a></li>
                <li class="ui-state-default ui-corner-top"><a href="{% url userprofile_policylist %}">Мои полисы</a></li>
                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="{% url notification_notices %}">Уведомления {% if notice_unseen_count %}({{ notice_unseen_count }}){% endif %}</a></li>
                <li class="ui-state-default ui-corner-top"><a href="{% url userprofile_faq %}">FAQ</a></li>
            </ul>

 <!--- Первая закладка --->
    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <div class="cont_text">
<div id="ins_notification_inbox">
  <h3>Мои уведомления</h3>
  <table width="100%" cellspacing="0" class="notices">
    <tr>
      <th>Тема</th>
      <th>Содержание</th>
      <th>Дата</th>
    </tr>
    {% for notice in notices %}
    <tr class="{% cycle 'odd' 'nodd' %}{% if notice.unseen %} unread{% endif %}">
      <td>{{ notice.sub }}</td>
      <td><a href="{% url notification_notice notice.id %}">{{ notice.message|truncatewords_html:"4" }}</a></td>
      <td>{{ notice.added }}</td>
    </tr>
    {% endfor %}

  </table>

  <div id="buttons">
    <a href="{% url ins_notification_question %}">Задать вопрос</a> |
    <a href="{% url userprofile_edit %}">Назад</a>
</div>

  </div>

</div>  </div>
</div>  </div>

</div>
{% block persona_form %}{% endblock %}
{% endblock %}

