/*
==================== Alignment ====================
*/

* {
    margin: 0;
    padding: 0;
}

body {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.header {
    height:30px;
    margin: 0 auto;
    width: 900px;
}

/* Logo */
#logo {
    float:left;
}

/* Navigation */
#navigation {
    height:25px;
    float:right;
}

#navigation ul {
    display: inline;
    list-style-type: none;
}

#navigation ul li {
    margin: 0; padding: 0;
    float: left;
}

#navigation ul li.separator {
    margin-left:4px;
    margin-right:4px;
}

/* Profile navigation */

#profile-navigation {
    height: 40px;
}

#profile-navigation ul  {
    list-style-type: none;
}

#profile-navigation ul li {
    display: inline;
}


#profile-navigation ul li.separator {
    margin-left:4px;
    margin-right:4px;
}

/* Site menu */

#site-menu {
    height: 40px;
    padding: 20px;
    text-align:center;
}

#site-menu ul  {
    list-style-type: none;
    margin:0 auto;
}

#site-menu ul li {
    display: inline;
}

#site-menu ul li.separator {
    margin-left:4px;
    margin-right:4px;
}

#site-menu a {
    text-decoration: none;
}

/* Content */
.content {
    position: relative;
    margin: 0 auto;
    width: 900px;
    min-height: 700px;
    padding-top: 200px;
    text-align: center;
}

/* Userprofile _edit */

#persona_table {
    margin:0 auto;
}

#persona_table table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    /* margin: 45px; */
    margin:0 auto;
    width: 880px;
    border-collapse: collapse;
    text-align: left;
}
#persona_table table th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#persona_table table td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
#persona_table table td
{
	color: #009;
}

/*
==================== Fonts ====================
*/

* {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
}

#logo {
    font-size: 2em;
}