 <script>
        $(document).ready(function(){
            $("#account-link").click(function(){
                $(this).find(".setup_user").slideToggle("slow");
            })
        });
  </script>

<div class="head">
    <a id="head-logo" href="/"><img src="{{ STATIC_URL }}images/head-logo.gif" alt="" /></a>

    <div id="top-menu">
        <ul>
            <li class="one-line" id="item-1"><a href="#">КАСКО</a></li>
            <li class="one-line" id="item-2"><a href="#">ОСАГО</a></li>
            <li class="two-line" id="item-3"><a href="#">ЗЕЛЕНАЯ КАРТА</a></li>
            <li class="two-line" id="item-4"><a href="#">СТРАХОВАНИЯ ИМУЩЕСТВА</a></li>
            <li class="two-line" id="item-5"><a href="#">ИПОТЕЧНОЕ КОМПАНИЕ</a></li>
            <li class="two-line" id="item-6"><a href="#">СТРАХОВАНИЕ ПУТЕШЕСТВУЮЩИХ</a></li>
        </ul>
        <span></span>
    </div>

    <div id="head-buttons">
        <a href="{% url ncalc_step1 %}" id="calc-link"><img src="{{ STATIC_URL }}images/calc_icon.png" alt="" /></a>
        <a href="#" id="wallet-link"><img src="{{ STATIC_URL }}images/wallet_icon.png" alt="" /></a>

        <div id="account-link">
           {% if user.is_authenticated %}
              <span>{{ user.email|upper }}</span>
                 <div class="setup_user" style="display:none">
                    <a href="{% url auth_logout %}">Выход</a>
                    <a href="#" rel="#pop_up_4">Вопрос</a>
                 </div>
             {% else %}
               <span>Вход</span>
                 <div class="setup_user" style="display:none">
                    <a href="#" rel="#pop_up_1">Регистрация</a>
                    <a href="#" rel="#pop_up_2">Вход</a>
                    <a href="#" rel="#pop_up_3">Пароль</a>
                    <a href="#" rel="#pop_up_4">Вопрос</a>
                  </div>
           {% endif %}
        </div>
    </div>
</div>
