<div class="tabs_footer">
  <ul class="tabs_footer_link">
    <li><a class="" href="#tab_01">Прочее</a></li>
    <li><a class=""  href="#tab_02">Новости</a></li>
    <li><a class="" href="#tab_03">Анонсы</a></li>
  </ul>
  <div class="tabs_footer_cont" id="tab_01">
    {% for item in other %}
    <div class='tabs_footer_cont_left'>
      {# <div class="{% cycle 'tabs_footer_cont_left' 'tabs_footer_cont_right' %}">#}
      {% include "includes/news_small_item.html" %}
    </div>
    {% endfor %}
  </div>
  <div class="tabs_footer_cont" id="tab_02">
    {% for item in news %}
    <div class='tabs_footer_cont_left'>
      {# <div class="{% cycle 'tabs_footer_cont_left' 'tabs_footer_cont_right' %}">#}
      {% include "includes/news_small_item.html" %}
    </div>
    {% endfor %}
  </div>
  <div class="tabs_footer_cont" id="tab_03">
    {% for item in news %}
    <div class='tabs_footer_cont_left'>
      {# <div class="{% cycle 'tabs_footer_cont_left' 'tabs_footer_cont_right' %}">#}
      {% include "includes/news_small_item.html" %}
    </div>
    {% endfor %}
  </div>
  <script>
    $(function () {
    var tabContainers = $('div.tabs_footer > .tabs_footer_cont'); // получаем массив контейнеров
    tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
    // далее обрабатывается клик по вкладке
    $('div.tabs_footer ul.tabs_footer_link a').click(function () {
    tabContainers.hide(); // прячем все табы
    tabContainers.filter(this.hash).show(); // показываем содержимое текущего
    $('div.tabs_footer ul.tabs_footer_link a').removeClass('selected'); // у всех убираем класс 'selected'
    $(this).addClass('selected'); // текушей вкладке добавляем класс 'selected'
    return false;
    }).filter(':first').click();
    });
  </script>
</div>
