<div class="pop_up pop_up_autorize" id="pop_up_2">
  <div class="pop_up_header">
    <div class="close"></div>
    Личный кабинет
  </div>
  <div class="pop_up_cont">
    <div class="pop_up_cont_in">
      <form action="" method="get">
	<table cellspacing="0" cellpadding="0" class="table_user_form">
	  <tr>
	    <th>*Адрес эл.почты:</th>
	  </tr>
	  <tr>
	    <td><input type="text" class="style_input5 style_input_red" name="">
	      <p class="message_error">*Не верный адрес эл.почты</p></td>
	  </tr>
	  <tr>
	    <th>*Пароль:</th>
	  </tr>
	  <tr>
	    <td><input type="text" class="style_input5 style_input_red" name="">
	      <p class="message_error">*Не верный пароль</p></td>
	  </tr>
	  <tr>
	    <td><div class="pop_up_button_enter"><input name="" type="button" value="Войти" class="button_style" /></div></td>
	  </tr>
	  <tr>
	    <td>Что делать если вы <a href="#">забыли пароль?</a></td>
	  </tr>
	</table>
      </form>
    </div>
  </div>
</div>
