<div class="pop_up pop_up_questions" id="pop_up_4">
  <div class="pop_up_header">
    <div class="close"></div>
    Вопросы
  </div>
  <div class="pop_up_cont"><div class="pop_up_cont_in">
      <div class="pop_up_questions_l">
	<form action="" method="get">
	  <div class="pop_up_header2">
	    У вас есть вопрос?
	  </div>
	  <div class="questions_form">
	    <div class="questions_form_header">Задать вопрос:</div>
	    <textarea name="" cols="" rows="" class="questions_textarea"></textarea>
	  </div>
	  <div class="box_form_code">
	    <input name="" type="text" class="code_input" />
	    <div class="code">
	      <img src="/static/images/code.jpg" alt="" />
	    </div>
	    <div class="link_reset"><a href="#"><img src="/static/images/reset.gif" alt="" /></a></div>
	  </div>
	  <div class="fonsize_11">
	    <p>Введите код указанный на картинке.</p>
	    <p class="color_red">*Вы ввели не правильно код с картинки</p>
	  </div>
	  <div class="pop_up_button_send">
	    <input name="" type="button" value="Отправить" class="style_input_button" />
	  </div>
	</form>
      </div>
      <div class="pop_up_questions_r">
	<div class="pop_up_header2">
	  FAQ
	</div>
	<ul class="faq">
	  <li><a href="#">Частозадаваемые вопросы</a></li>
	  <li><a href="#">Как оформить полис</a></li>
	  <li><a href="#">Что делать при утере полиса</a></li>
	</ul>
      </div>
  </div></div>
</div>
