<div class="pop_up_cont">
  <div class="pop_up_cont_in">
	  <div class="center_login">
    <form action="{% url auth_login %}" method="post">{% csrf_token %}
    <div class="messages">{{ form.non_field_errors }}</div>
      <table cellspacing="0" cellpadding="0" class="table_user_form">
	<tr>
	  <th>*Адрес эл.почты:</th>
	</tr>
	<tr>
	  <td class="style_input5">{{ form.username }}
            {% if form.username.errors %}
	    <p class="message_error">*Неправильный адрес эл.почты</p>
            {% endif %}
          </td>
	</tr>
	<tr>
	  <th>*Пароль:</th>
	</tr>
	<tr>
	  <td class="style_input5">{{ form.password }}
            {% if form.password.errors %}
	    <p class="message_error">*Неправильный пароль</p></td>
          {% endif %}
	</tr>
	<tr>
	  <td><div class="pop_up_button_enter"><input name="" type="submit" value="Войти" class="button_style" /></div></td>
	</tr>
	<tr>
	  <td>Что делать если вы <a href="{% url auth_password_reset %}">забыли пароль?</a></td>
	</tr>
      </table>
    </form>
  </div>
  </div>
</div>
