<div class="pop_up_cont">
  <div class="pop_up_cont_in">
    <form action="{% url userprofile_passchange %}" method="post">{% csrf_token %}
      <table cellspacing="0" cellpadding="0" class="table_user_form">
	<tr>
	  <th>*Текущий пароль:</th>
	</tr>
	<tr>
	  <td><input type="password" class="style_input5" name="old_password">
            {% if form.old_password.errors %}
	    <p class="message_error">*Неправильный пароль</p>
            {% endif %}
          </td>
	</tr>
	<tr>
	  <th>*Новый пароль:</th>
	</tr>
	<tr>
	  <td><input type="password" class="style_input5" name="new_password1">
            {% if form.new_password1.errors %}
	    <p class="message_error">*Неправильный пароль</p></td>
          {% endif %}
	</tr>
    <tr>
        <th>*Новый пароль(еще раз):</th>
    </tr>
    <tr>
        <td><input type="password" class="style_input5" name="new_password2">
            {% if form.new_password2.errors %}
                <p class="message_error">*Неправильный пароль</p></td>
            {% endif %}
    </tr>

	<tr>
	  <td><div class="pop_up_button_enter"><input name="" type="submit" value="Сохранить" class="button_style" /></div></td>
	</tr>
	</table>
    </form>
  </div>
</div>
