<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    {% block title %}
    <title>Polisbook - прозрачные расчеты</title>
    {% endblock %} <!-- title -->
    {% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cusel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jScrollPane.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
    {% endblock %}
    {% block extra_head %}
    {% endblock %}
  </head>  

  <body>
    <div class="body">
      <!-- Шапка-->
      {% include "includes/header.html" %}
      <!-- Конец шапки -->

      {% block content %}
      {% endblock%}

      <!-- Подвал  -->
      {% include "includes/footer.html" %}
      <!-- Конец подвал  -->

    </div>
  </body>
</html>
