<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {% block title %}
    <title>Проект Insurance, предварительный набросок верстки для
    разработчиков</title>
    {% endblock %} <!-- title -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css"/>
  </head>
  <body>
    <div class="header">
      <div id="logo"><a href="{% url home %}">Directif.ru</a></div>
      <div id="navigation">
        {% block navigation %}
        <ul>
          {% if user.is_anonymous %}
          <li>
            <a href="{% url registration_register %}" >Зарегистрироваться</a>
          </li>
          <li class="separator">|</li>
          <li>
            <a href="{% url auth_login %}">Войти</a>
          </li>
          <li class="separator">|</li>
          <li>
            <a href="{% url auth_password_reset %}">Забыли пароль?</a>
          </li>
          {% else %}
          <li>
            <a href="{% url userprofile_edit %}">Мой кабинет</a>&nbsp
          </li>
          <li>
            <a href="{% url auth_logout %}">Выйти</a>&nbsp
          </li>
          <li>
            <a href="{% url auth_password_change %}">Сменить пароль</a>
          </li>
          {% endif %}
          
        </ul>
        {% endblock %}
      </div>
    </div>
    
    <div id="site-menu">
      {% block site_menu %}
      <ul>
	<li><a href="/fp/faq/">FAQ</a></li>
	<li><a href="/fp/about">О компании</a></li>
	<li><a href="/fp/lisence_agreement/">Лицензионнное соглашение</a></li>
      </ul>
      {% endblock %} <!-- site_menu -->
    </div>

    <div class="content">
      {% block content %}
      {% endblock%}
    </div>
  </body>
</html>
