{% extends "base.html" %}


{% block content %}

<div class="content_home">
  <div id="phoneCarousel">
    <div class="previous arrow"><img src="{{ STATIC_URL }}images/px.gif" alt="" /></div>
    <div class="next arrow"><img src="{{ STATIC_URL }}images/px.gif" alt="" /></div>

    <div id="stage">
      <a href="#tabs_crug_1"><img class="default" src="{{ STATIC_URL }}images/scroll/scroll_img_1.jpg" width="229" height="302"/></a>
      <a href="#tabs_crug_2"><img src="{{ STATIC_URL }}images/scroll/scroll_img_2.jpg" width="229" height="302" /></a>
      <a href="#tabs_crug_3"><img src="{{ STATIC_URL }}images/scroll/scroll_img_3.jpg"  width="229" height="302" /></a>
    </div>
  </div>
  <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
  <div class="tabs" id="tabs_crug_1">
    <img src="{{ STATIC_URL }}images/tabs.jpg" alt="" />
  </div>
  <div class="tabs" id="tabs_crug_2">
    <img src="{{ STATIC_URL }}images/tabs_2.jpg" alt="" />
  </div>
  <div class="tabs" id="tabs_crug_3">
    <img src="{{ STATIC_URL }}images/tabs_3.jpg" alt="" />
  </div>
</div>
<script>
  $(function () {
  var tabContainers = $('div.content_home > .tabs'); // получаем массив контейнеров
  tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
  // далее обрабатывается клик по вкладке
  $('div#stage a').click(function () {
  tabContainers.hide(); // прячем все табы
  tabContainers.filter(this.hash).show(); // показываем содержимое текущего
  $('div#stage a').removeClass('selected'); // у всех убираем класс 'selected'
  $(this).addClass('selected'); // текушей вкладке добавляем класс 'selected'
  return false;
  }).filter(':first').click();
  });
</script>

<div class="benefits">
  <div class="header_benefits">
    <span>Н</span>АШИ ПРЕИМУЩЕСТВА
  </div>
  <div style="clear:both;"></div>
  <div class="benefits_link">
    <a style=":hover {text-decoration: underline}" href="#">Все Ваши полисы всегда под рукой</a><br/>
    <p style="color:#472313; font-size: 11px;">Получите книжку-помощник, где будут находится все ваши полисы, полезная информация для общения со страховой компанией. </p>
    <a href="#">Все Ваши страховые полисы в вашем личном кабинете
    онлайн</a><br/>
    <p style="color:#472313; font-size: 11px;">Подробная информация о купленных вами полисах в личном кабинете. Сравнительный анализ ваших полисов</p>
    <a href="#">Рассчитай ONLINE минимальную цену полиса 50 страховых.
    компаний</a><br/>
    <p style="color:#472313; font-size: 11px;">Посмотри таблицу сравнения цены и условий полисов. Цена всегда дешевле - <span style="font-weight:bold;">мы не берем комиссии</span>!. </p>
  </div>
</div>
<!-- <div class="button_box"> -->
<!--   <div class="button_link"><a href="#"><img src="{{ STATIC_URL }}images/button_1.jpg" alt="" /></a></div> -->
<!--   <div class="button_link"><a href="#"><img src="{{ STATIC_URL }}images/button_2.jpg" alt="" /></a></div> -->
<!--   <div class="button_link"><a href="#"><img src="{{ STATIC_URL }}images/button_3.jpg" alt="" /></a></div> -->
<!--   <div class="button_link"><a href="#"><img src="{{ STATIC_URL }}images/button_4.jpg" alt="" /></a></div> -->
<!--   <div class="button_link"><a href="#"><img src="{{ STATIC_URL }}images/button_5.jpg" alt="" /></a></div> -->
<!--   <div class="button_link"><a href="#"><img src="{{ STATIC_URL }}images/button_6.jpg" alt="" /></a></div> -->

<!-- </div> -->
<div class="tabs_footer">
  <ul class="tabs_footer_link">
    <li><a class="" href="#tab_01">Прочее</a></li>
    <li><a class=""  href="#tab_02">Новости</a></li>
    <li><a class="" href="#tab_03">Анонсы</a></li>
  </ul>
  <div class="tabs_footer_cont" id="tab_01">
    <div class="tabs_footer_cont_left">
      <div class="tabs_footer_cont_img">
	<img src="{{ STATIC_URL }}images/img.jpg" alt="" />
      </div>
      <div class="tabs_footer_cont_text">
	<a href="#">Наш сайт,как и все, что делает наша страховая</a> компания
        создан для вас,наших уважаемых клиентов!
        Здесь вы сможете легко рассчитывать стоимость и заказать
        полис для всех видов страхования авто,недвижимости...
	<a href="#" class="pointer"><img src="{{ STATIC_URL }}images/pointer.png" alt="" /></a>				</div>
    </div>
    <div class="tabs_footer_cont_right">
      <div class="tabs_footer_cont_img">
	<img src="{{ STATIC_URL }}images/img.jpg" alt="" />
      </div>
      <div class="tabs_footer_cont_text">
	<a href="#">Страхование</a>: особый вид экономических отношений,
        призванный обеспечить страховую защиту людей и
        их дел от различного рода опасностей...
	<a href="#" class="pointer"><img src="{{ STATIC_URL }}images/pointer.png" alt="" /></a>				</div>
    </div>
  </div>
  <div class="tabs_footer_cont" id="tab_02">
    <div class="tabs_footer_cont_left">
      <div class="tabs_footer_cont_img">
	<img src="{{ STATIC_URL }}images/img.jpg" alt="" />
      </div>
      <div class="tabs_footer_cont_text">
	<a href="#">Наш сайт,как и все, что делает наша страховая</a> компания
        создан для вас,наших уважаемых клиентов!
        Здесь вы сможете легко рассчитывать стоимость и заказать
        полис для всех видов страхования авто,недвижимости...
	<a href="#" class="pointer"><img src="{{ STATIC_URL }}images/pointer.png" alt="" /></a>				</div>
    </div>
    <div class="tabs_footer_cont_right">
      <div class="tabs_footer_cont_img">
	<img src="{{ STATIC_URL }}images/img.jpg" alt="" />
      </div>
      <div class="tabs_footer_cont_text">
	<a href="#">Страхование</a>: особый вид экономических отношений,
        призванный обеспечить страховую защиту людей и
        их дел от различного рода опасностей...
	<a href="#" class="pointer"><img src="{{ STATIC_URL }}images/pointer.png" alt="" /></a>				</div>
    </div>
  </div>
  <div class="tabs_footer_cont" id="tab_03">
    <div class="tabs_footer_cont_left">
      <div class="tabs_footer_cont_img">
	<img src="{{ STATIC_URL }}images/img.jpg" alt="" />
      </div>
      <div class="tabs_footer_cont_text">
	<a href="#">Наш сайт,как и все, что делает наша страховая</a> компания
        создан для вас,наших уважаемых клиентов!
        Здесь вы сможете легко рассчитывать стоимость и заказать
        полис для всех видов страхования авто,недвижимости...
	<a href="#" class="pointer"><img src="{{ STATIC_URL }}images/pointer.png" alt="" /></a>				</div>
    </div>
    <div class="tabs_footer_cont_right">
      <div class="tabs_footer_cont_img">
	<img src="{{ STATIC_URL }}images/img.jpg" alt="" />
      </div>
      <div class="tabs_footer_cont_text">
	<a href="#">Страхование</a>: особый вид экономических отношений,
        призванный обеспечить страховую защиту людей и
        их дел от различного рода опасностей...
	<a href="#" class="pointer"><img src="{{ STATIC_URL }}images/pointer.png" alt="" /></a>				</div>
    </div>
  </div>
  <script>
    $(function () {
    var tabContainers = $('div.tabs_footer > .tabs_footer_cont'); // получаем массив контейнеров
    tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
    // далее обрабатывается клик по вкладке
    $('div.tabs_footer ul.tabs_footer_link a').click(function () {
    tabContainers.hide(); // прячем все табы
    tabContainers.filter(this.hash).show(); // показываем содержимое текущего
    $('div.tabs_footer ul.tabs_footer_link a').removeClass('selected'); // у всех убираем класс 'selected'
    $(this).addClass('selected'); // текушей вкладке добавляем класс 'selected'
    return false;
    }).filter(':first').click();
    });
  </script>
</div>

{% endblock %}
