{% extends "base.html" %}
{% block extra_head %}
    <script type="text/javascript" src="/static/js/calc/calc.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/static/js/calc/jscrollpane.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.js"></script>

    <script>
        $(document).ready(function() {
            $("#step4-tabs").tabs();

            /*Tab active style*/
            $("li.ui-state-default a").click(function(){
                $(this).parents("ul").removeClass("active-1").removeClass("active-2").removeClass("active-3");
                $(this).parents("ul").addClass("active-"+$(this).attr("dataid"));
            })

            $("#id_kpp, #id_motor, #id_payments, #id_citizenship").css("visibility", "hidden");

            /*Select visual value*/
            $("#citizenship a, #is-first-owner a, #kpp a, #motor a, #time-deliviry a, #payment-form a").click(function(e){
                e.preventDefault();
                selectVisualValue($(this));
            })

            /*Display visual value*/
            $("#id_citizenship, #id_kpp,  #id_motor, #id_payments, #id_first_owner").each(function(){
                displaySelectValue($(this));
            })

            /*For input labels*/
            $("#document-data input").each(function(){
                $("#document-data label").hide();
                    if($(this).val() == ""){
                       $(this).val($(this).parent().find("label").text());
                    }
            })


           /* $("#step4-tabs form").validate({
                messages: {
                    first_name: "Please specify your name",
                    email: {
                        required: "We need your email address to contact you",
                        email: "Your email address must be in the format of name@domain.com"
                    }
                }
            });*/
        });
    </script>
{% endblock %}


{% block content %}
    <div id="overlay"><img src="/static/images/preloader.gif" alt=""/></div>

    <div id="calc-tabs">
    <ul>
        <li><a href="#tabs-1">КАСКО</a></li>
        <li><a href="#tabs-2">ОСАГО</a></li>
        <li><a href="#tabs-3">ДМС</a></li>
        <li><a href="#tabs-5">HC</a></li>
        <li><a href="#tabs-6">ВЗР</a></li>
        <li><a href="#tabs-7">ИФЛ</a></li>
    </ul>

    <div id="tabs-1">
    <div class="form-round-block no-back">

    <div id="step4-tabs">
    <ul>
        <li><a dataid="1" href="#inner-tab1">Водители</a></li>
        <li><a dataid="2" href="#inner-tab2" >Автомобиль</a></li>
        <li><a dataid="3" href="#inner-tab3">Доставка</a></li>
    </ul>

    <form action="" id="test" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <!-- first tab-->
    <div id="inner-tab1">
        <table id="person-info-table">
            <tr>
                <td>
                    <h5>Страхователь:</h5>
                    {{ form.last_name }}
                </td>
                <td>{{ form.first_name }}</td>
                <td>{{ form.middle_name }}</td>
            </tr>
            <tr>
                <td>
                    <h5>Дата рождения:</h5>
                    {{ form.birth_date }}
                </td>
                <td class="category-drive">
                    <span>Категория прав:</span>
                    <a href="#" class="active">B</a>
                    <a href="#">C</a>
                    <a href="#">D</a>
                    {{ form.category }}
                </td>
                <td>
                    <span id="sex-label">Пол:</span>
                    <a id="woman-sex" class="active" href="#"></a>
                    <a id="man-sex" href="#"></a>
                    {{ form.sex }}
                </td>
            </tr>
        </table>

        <div id="citizenship">
            <a value="1" href="#">Гражданин РФ</a>
            <a value="2" href="#">Иностранный гражданин</a>
            {{ form.citizenship }}
        </div>

        <div id="document-data">
            <h5>Паспортные данные:</h5>
            <span>
                {{ form.passport_series }}
                <label>{{ form.passport_series.label }}</label>
            </span>
            
            <span>
                 {{ form.passport_number }}
                <label>{{ form.passport_number.label }}</label>
            </span>

            <span>
                {{ form.issued_org }}
                <label>{{ form.issued_org.label }}</label>
            </span>

            <span>
                {{ form.issued_date }}
                <label>{{ form.issued_date.label }}</label>
            </span>
        </div>

       <div id="document-address">
           <h5>Адрес прописки:</h5>
           <table>
               <tr>
                   <td>{{ form.reg_region }}</td>
                   <td>{{ form.reg_area }}</td>
                   <td>{{ form.reg_city }}</td>
               </tr>
               <tr>
                   <td>{{ form.reg_street }}</td>
                   <td>
                       {{ form.reg_index }}
                       {{ form.reg_building }}
                   </td>
                   <td>
                       {{ form.reg_housing }}
                       {{ form.reg_flat }}
                   </td>
               </tr>
           </table>
       </div>

       <div id="real-address">
           <h5>Место проживания:</h5> <a href="#" id="copy-data-link">Скопировать адрес прописки</a>
           <table>
               <tr>
                   <td>{{ form.live_region }}</td>
                   <td>{{ form.live_area }}</td>
                   <td>{{ form.live_city }}</td>
               </tr>
               <tr>
                   <td>{{ form.live_street }}</td>
                   <td>
                       {{ form.live_index }}
                       {{ form.live_building }}
                   </td>
                   <td>
                       {{ form.live_housing }}
                       {{ form.live_flat }}
                   </td>
               </tr>
           </table>
       </div>
    </div>

    <!-- second tab-->
    <div id="inner-tab2">
        <h5 id="head-data">Основные данные об автомобиле:</h5>

        <table id="tech-auto-data">
            <tr>
                <td>
                    <h5>VIN:</h5>
                    {{ form.vin }}
                </td>
                <td>
                    <h5>Номерной знак:</h5>
                    {{ form.number }}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h5>Номер кузова:</h5>
                    <!-- Этот инпут заменить на настоящий -->
                    <input type="text" value="" />
                    <!-- Этот инпут заменить на настоящий -->
                </td>
                <td>
                    <h5>Серия и номер ПТС:</h5>
                    {{ form.pts_number }}
                </td>

                <td>
                    <h5>Дата выдачи ПТС:</h5>
                    {{ form.pts_date }}
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Тип кузова:</h5>
                    {{ form.body_type }}
                </td>
                <td>
                    <h5>Пробег:</h5>
                    {{ form.mileage }}
                </td>
                <td class="short-input">
                    <div>
                        <h5>Мощность:</h5>
                        {{ form.power }}
                    </div>
                    <div>
                         <h5>Объем двигателя:</h5>
                        {{ form.volume }}
                    </div>
                </td>
            </tr>
        </table>

        <div id="tech-auto-data2">
            <div id="kpp">
                <h5>Коробка передач:</h5>
                <a value="1" href="#">Механическая</a>
                <a value="2" href="#">Автомат</a>
                {{ form.kpp }}
            </div>

            <div id="motor">
                <h5>Двигатель:</h5>
                <a value="1" href="#">Бензиновый</a>
                <a value="2" href="#">Дизельный</a>
                <a value="3" href="#">Гибридный</a>
                {{ form.motor }}
            </div>
        </div>


        <div id="auto-owner">
            <h5 id="owner-label">Владелец автомобиля:</h5>
            <a href="#" id="copy-data-link2">(Скопировать данные страхователя)</a>
            
            <table id="auto-owner-table">
                <tr>
                    <td>{{ form.owner_first_name }}</td>
                    <td>{{ form.owner_last_name }}</td>
                    <td>{{ form.owner_middle_name }}</td>
                </tr>
                 <tr>
                    <td>
                        <h5>Дата рождения</h5>
                        {{ form.owner_birth_date }}
                    </td>
                    <td colspan="2">
                        <div id="sex-owner">
                            <h5>Пол:</h5>
                            <a id="woman-sex2" class="active" href="#"></a>
                            <a id="man-sex2" href="#"></a>
                            {{ form.owner_sex }}
                        </div>

                        <div id="is-first-owner">
                            <h5>Первый владелец автомобиля:</h5>
                                <a href="#">Да</a>
                                <a href="#">Нет</a>
                            {{ form.first_owner }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- third tab-->
    <div id="inner-tab3">
        <h5>Укажите максимально подробно адрес и условия доставки:</h5>

        <table id="deliviry-1">
            <tr>
                <td>
                    <h5>Точный адрес доставки:</h5>
                    {{ form.street }}
                </td>
                <td>
                    <h5>Дом:</h5>
                    {{ form.building }}
                </td>
                <td>
                    <h5>Строение:</h5>
                    {{ form.structure }}
                </td>
                <td>
                    <h5>Корпус:</h5>
                    {{ form.housing }}
                </td>
            </tr>
        </table>

        <table id="deliviry-2">
            <tr>
                <td>
                    <h5>Подьезд:</h5>
                    {{ form.porch }}
                </td>
                <td>
                    <h5>Домофон:</h5>
                    {{ form.domophone }}
                </td>
                <td>
                    <h5>Этаж:</h5>
                    {{ form.floor }}
                </td>
                <td>
                    <h5>Квартира:</h5>
                    {{ form.flat }}
                </td>
            </tr>
        </table>

         <table id="deliviry-3">
            <tr>
                <td>
                    <h5>Комментарии к доставке:</h5>
                    {{ form.comment }}
                </td>
                <td>
                    <h5>Дата доставки:</h5>
                    {{ form.date }}
                </td>
                <td>
                    <h5>Время доставки:</h5>
                    <div id="time-deliviry">
                        <a href="#">9:30 - 12:00</a>
                        <a href="#">12:00 - 15:00</a>
                        <a href="#">15:00 - 18:00</a>
                        
                        {{ form.time }}
                    </div>
                </td>
                <td>
                    <h5>Вариант оплаты:</h5>
                    <div id="payment-form">
                        <a value="1" href="#">Наличными</a>
                        <a value="2" href="#">Кредитная карта</a>
                        {{ form.payments }}
                    </div>
                </td>
            </tr>
        </table>
        <input id="order-button" type="image" src="/static/images/order_button_step3.png" value="Заказать"/>

        <h5>Обратите внимание! Доставка курьером осуществляется только в пределах МКАД.</h5>
    </div>
    </form>
    </div>
    </div>
    <div id="tabs-2">осаго</div>
    <div id="tabs-3">дмс</div>
    <div id="tabs-5">нс</div>
    <div id="tabs-6">взр</div>
    <div id="tabs-7">ифл</div>
    </div>
{% endblock %}
