<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Step4</title>
    <script type="text/javascript"
            src="/static/js/jquery-1.6.3.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#b1").click(function() {
                if ($("#id_persona").val() == "")
                    alert("Сначала выберите персону!");
                else
                    $.ajax(
                            {
                                url:"{% url get_person_address %}",
                                data:{pers:$("#id_persona").val()},
                                dataType:"text",
                                success:function(data) {
                                    $("#id_reg_address").val(data);
                                }
                            }
                    );
            });
            $("#b2").click(function() {
                if ($("#id_persona").val() == "")
                    alert("Сначала выберите персону!");
                else
                    $.ajax(
                            {
                                url:"{% url get_person_address %}",
                                data:{pers:$("#id_persona").val()},
                                dataType:"text",
                                success:function(data) {
                                    $("#id_liv_address").val(data);
                                }
                            }
                    );
            });
            $("#b3").click(function() {
                if ($("#id_persona").val() == "")
                    alert("Сначала выберите персону!");
                else
                    $.ajax(
                            {
                                url:"{% url get_person_address %}",
                                data:{pers:$("#id_persona").val()},
                                dataType:"text",
                                success:function(data) {
                                    $("#id_pol_address").val(data);
                                }
                            }
                    );
            });
        });
    </script>
</head>
<body>
<form action="" method="post">
    <table>
        {% csrf_token %}
        <tr>
            <td>VIN</td>
            <td>
                {{ form.vin }}
                {{ form.vin.errors }}
            </td>
        </tr>
        <tr>
            <td>Тип кузова</td>
            <td>
                {{ form.body_type }}
                {{ form.body_type.errors }}
            </td>
        </tr>
        <tr>
            <td>Пробег</td>
            <td>
                {{ form.mileage }}
                {{ form.mileage.errors }}
            </td>
        </tr>
        <tr>
            <td>Имя владельца</td>
            <td>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </td>
        </tr>
        <tr>
            <td>Фамилия владельца</td>
            <td>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </td>
        </tr>
        <tr>
            <td>Отчество владельца</td>
            <td>
                {{ form.middle_name }}
                {{ form.middle_name.errors }}
            </td>
        </tr>
        <tr>
            <td>Дата рождения</td>
            <td>
                {{ form.birth_date }}
                {{ form.birth_date.errors }}
            </td>
        </tr>
        <tr>
            <td>Первый владелец авто</td>
            <td>
                {{ form.first_owner }}
                {{ form.first_owner.errors }}
            </td>
        </tr>
        <tr>
            <td>Пол</td>
            <td>
                {{ form.sex }}
                {{ form.sex.errors }}
            </td>
        </tr>
        <tr>
            <td>Персона</td>
            <td>
                {{ form.persona }}
                {{ form.persona.errors }}
            </td>
        </tr>
        <tr>
        <tr>
            <td>Адрес прописки</td>
            <td>
                {{ form.reg_address }}
                <button type="button" id="b1" title="Подставить из профиля
персоны">
                    <img
                            src="/static/images/edit-copy.png"></button>
                {{ form.reg_address.errors }}
            </td>
        </tr>
        <tr>
            <td>Адрес проживания</td>
            <td>
                {{ form.liv_address }}
                <button type="button" id="b2" title="Подставить из профиля
персоны">
                    <img
                            src="/static/images/edit-copy.png"></button>
                {{ form.liv_address.errors }}
            </td>
        </tr>
        <tr>
            <td>Адрес доставки полиса</td>
            <td>
                {{ form.pol_address }}
                <button type="button" id="b3" title="Подставить из профиля
персоны">
                    <img
                            src="/static/images/edit-copy.png"></button>
                {{ form.pol_address.errors }}
            </td>
        </tr>
    </table>
    <input type="submit" value="Заказать"/>
</form>
</body>
</html>
