<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Step2</title>
    <script type="text/javascript"
            src="/static/js/jquery-1.6.3.min.js"></script>
    <script type="text/javascript">
        $(function() {
                    if ($("#id_burglar_alarm_group").val() == "" || $("#id_burglar_alarm_group").val() == "2")  //hardcoded no burglar alarm id.
                    {
                        $("#id_burglar_alarm_model").html('');
                        $("#id_burglar_alarm_model").attr("disabled", true);
                    }

                    $("#id_burglar_alarm_group").change(function() {
                        $("#id_burglar_alarm_model").html('');
                        if ($("#id_burglar_alarm_group").val() == "" || $("#id_burglar_alarm_group").val() == "2")  //hardcoded no burglar alarm id.
                            $("#id_burglar_alarm_model").attr("disabled", true);
                        else {
                            $.ajax(
                                    {
                                        url:"{% url get_ba_models %}",
                                        data:{group:$("#id_burglar_alarm_group").val() },
                                        dataType:"json",
                                        success:function(data) {
                                            var options = '';
                                            options += '<option value="">' + '--------' + '</option>';
                                            $.each(data, function(index, value) {
                                                options += '<option value="' + index + '">' + value + '</option>';
                                            });
                                            $("#id_burglar_alarm_model").html(options);
                                            $("#id_burglar_alarm_model").removeAttr("disabled");

                                        }
                                    }
                            );
                        }
                    });
                }
        );
    </script>
</head>
<body>
<br/>
<a href="{% url ncalc_step1 %}">Назад</a><br/>
{% if msg %}
    <b>Ошибка: {{ msg }}</b>
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        {{ s1_form.as_p }}
        <input type="submit" value="Обновить"/>
    </form>
    <br/>
    <br/>
    <table border="1">
        {% for comp in result.info %}
            <tr>
                <td><b>{{ comp.full_name }}</b></td>
                <td>
                    <table border="1">
                        {% for p in comp.parameters.items %}
                            <tr>
                                <td>{{ p.0 }}</td>
                                <td>
                                    {% ifequal p.1 "on" %}
                                        да
                                    {% else %}
                                        нет
                                    {% endifequal %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>