{% extends "base.html" %}
{% block content %}


    <script type="text/javascript" src="/static/js/calc/calc.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/static/js/calc/jscrollpane.js"></script>

    <script type="text/javascript">
        var model = "{% url get_models %}",
                model_year = "{% url get_years %}",
                power = "{% url get_powers %}",
                price = "{% url get_price %}";
    </script>
    </head>


    <div id="calc-tabs">
    <ul>
        <li><a href="#tabs-1">КАСКО</a></li>
        <li><a href="#tabs-2">ОСАГО</a></li>
        <li><a href="#tabs-3">ДМС</a></li>
        <li><a href="#tabs-4">ДАГО</a></li>
        <li><a href="#tabs-5">HC</a></li>
        <li><a href="#tabs-6">ВЗР</a></li>
        <li><a href="#tabs-7">ИФЛ</a></li>
    </ul>

    <div id="tabs-1">
    <form action="" method="post">
    {% csrf_token %}

    {% if s1_form.non_field_errors %}
        <div>
            <h2>Ошибки заполнения формы:</h2>
            {{ s1_form.non_field_errors }}
        </div>
    {% endif %}


    <div id="first-select" class="long-select">
        <span class="select-text"></span>
        {{ s1_form.mark }}
        <span class="form-error">{{ s1_form.mark.errors }}</span>
    </div>



    <div id="unlimited-drivers" class="style-checkbox">
        {{ s1_form.unlimited_drivers }}
        <span class="label">{{ s1_form.unlimited_drivers.label }}</span>
        <span class="form-error">{{ s1_form.unlimited_drivers.errors }}</span>
    </div>

    <div class="form-round-block hide" id="require-block-1">
        <table id="require-auto-data-first">
            <tr>
                <td>
                    {{ s1_form.model.label }}
                    <span class="table-error">{{ s1_form.model.errors }}</span>
                </td>

                <td class="visible-data second"></td>
                <td class="ajax-select">
                    {{ s1_form.model }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ s1_form.model_year.label }}
                     <span class="table-error">{{ s1_form.model_year.errors }}</span>
                </td>
                <td class="visible-data second"></td>
                <td class="ajax-select">
                    {{ s1_form.model_year }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ s1_form.power.label }}
                     <span class="table-error">{{ s1_form.power.errors }}</span>
                </td>
                <td class="visible-data second"></td>
                <td class="ajax-select">
                    {{ s1_form.power }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ s1_form.price.label }}
                     <span class="table-error">{{ s1_form.price.errors }}</span>
                </td>
                <td class="second">
                    <span id="price-label"></span>
                    <div id="price-slider"></div>
                    <span id="stoim"></span>
                </td>
                <td>
                    {{ s1_form.price }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ s1_form.wheel.label }}
                    <span class="table-error">{{ s1_form.wheel.errors }}</span>
                </td>
                <td class="visible-data second"></td>
                <td>
                    {{ s1_form.wheel }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ s1_form.city.label }}
                    <span class="table-error">{{ s1_form.city.errors }}</span>
                </td>
                <td class="visible-data second"></td>
                <td>
                    {{ s1_form.city }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ s1_form.credit.label }}
                    <span class="table-error">{{ s1_form.credit.errors }}</span>
                </td>
                <td class="visible-data second">
                    <div class="style-checkbox">
                        {{ s1_form.credit }}
                    </div>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="form-round-block" id="optional-block-1">
        <table id="info-main-driver">
            <tr>
                <td class="label">
                    {{ s1_form.age.label }}
                    <small>(полных лет)</small>
                </td>
                <td>
                    <div class="short-select">
                        <span class="select-text"></span>
                        {{ s1_form.age }}
                    </div>
                    {{ s1_form.age.errors }}
                </td>
                <td class="label">
                    {{ s1_form.experience_driving.label }}
                    <small>(полных лет)</small>
                </td>
                <td>
                    <div class="short-select">
                        <span class="select-text"></span>
                        {{ s1_form.experience_driving }}
                    </div>
                    {{ s1_form.experience_driving.errors }}
                </td>
            </tr>

            <tr class="hide">
                <td class="label">
                    {{ s1_form.age1.label }}
                    <small>(полных лет)</small>
                </td>
                <td>
                    <div class="short-select">
                        <span class="select-text"></span>
                        {{ s1_form.age1 }}
                    </div>
                    {{ s1_form.age1.errors }}
                </td>
                <td class="label">
                    {{ s1_form.experience_driving1.label }}
                    <small>(полных лет)</small>
                </td>
                <td>
                    <div class="short-select">
                        <span class="select-text"></span>
                        {{ s1_form.experience_driving1 }}
                    </div>

                    {{ s1_form.experience_driving1.errors }}
                </td>
            </tr>

            <tr class="hide">
                <td class="label">
                    {{ s1_form.age2.label }}
                    <small>(полных лет)</small>
                </td>
                <td>
                    <div class="short-select">
                        <span class="select-text"></span>
                        {{ s1_form.age2 }}
                    </div>

                    {{ s1_form.age2.errors }}
                </td>

                <td class="label">
                    {{ s1_form.experience_driving2.label }}
                    <small>(полных лет)</small>
                </td>
                <td>
                    <div class="short-select">
                        <span class="select-text"></span>
                        {{ s1_form.experience_driving2 }}
                    </div>

                    {{ s1_form.experience_driving2.errors }}
                </td>
            </tr>

            <tr class="hide">
                <td class="label">
                    {{ s1_form.age3.label }}
                    <small>(полных лет)</small>
                </td>
                <td>
                    <div class="short-select">
                        <span class="select-text"></span>
                        {{ s1_form.age3 }}
                    </div>
                    {{ s1_form.age3.errors }}
                </td>
                <td class="label">
                    {{ s1_form.experience_driving3.label }}
                    <small>(полных лет)</small>
                </td>
                <td>
                    <div class="short-select">
                        <span class="select-text"></span>
                        {{ s1_form.experience_driving3 }}
                    </div>
                    {{ s1_form.experience_driving3.errors }}
                </td>
            </tr>

        </table>
        <a id="add-driver-button" href="#"></a>
    </div>

    <input id="calculate-button" type="image" value="" src="/static/images/calculate_button.png"/>
    </form>

    <br/>
        <a href="{% url cleansession %}">очистить сессию (для тестов)</a>
    </div>

    <div id="tabs-2">осаго</div>
    <div id="tabs-3">дмс</div>
    <div id="tabs-4">даго</div>
    <div id="tabs-5">нс</div>
    <div id="tabs-6">взр</div>
    <div id="tabs-7">ифл</div>
    </div>
{% endblock %}


