<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Step3</title>
    <script type="text/javascript"
            src="/static/js/jquery-1.6.3.min.js"></script>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <th>Параметр</th>
            <th>Значение</th>
        </tr>
        <tr>
            <td>Тип полиса</td>
            <td>{{ data.insurance_type }}</td>
        </tr>
        <tr>
            <td>Марка автомобиля</td>
            <td>{{ data.mark }}</td>
        </tr>
        <tr>
            <td>Модель автомобиля</td>
            <td>{{ data.model }}</td>
        </tr>
        <tr>
            <td>Год выпуска</td>
            <td>{{ data.model_year }}</td>
        </tr>
        <tr>
            <td>Руль</td>
            <td>{{ data.wheel }}</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td>{{ data.power }}</td>
        </tr>
        <tr>
            <td>Стоимость</td>
            <td>{{ data.price }}</td>
        </tr>
        <tr>
            <td>Кредит</td>
            <td>{{ data.credit }}</td>
        </tr>
        <tr>
            <td>Регистрация собственника</td>
            <td>{{ data.city }}</td>
        </tr>
        <tr>
            <td>Возраст</td>
            <td>{{ data.age }}</td>
        </tr>
        <tr>
            <td>Стаж вождения</td>
            <td>{{ data.experience_driving }}</td>
        </tr>
        <tr>
            <td>Число водителей</td>
            <td>{{ data.dr_nr }}</td>
        </tr>
        <tr>
            <td>Страховщик</td>
            <td>{{ data.company }}</td>
        </tr>
        {% csrf_token %}
    </table>
    <input type="submit" value="Заказать"/>
</form>
</body>
</html>
