{% extends "base.html" %}
{% block content %}
    <script type="text/javascript" src="/static/js/calc/calc.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/static/js/calc/jscrollpane.js"></script>


    <script type="text/javascript">
        $(function() {

                    $("#sort-parameters td:even").addClass("even");

                    if ($("#id_burglar_alarm_group").val() == "" || $("#id_burglar_alarm_group").val() == "2")  //hardcoded no burglar alarm id.
                    {
                        $("#id_burglar_alarm_model").html('');
                        $("#id_burglar_alarm_model").attr("disabled", true);
                    }

                    $("#id_burglar_alarm_group").change(function() {
                        $("#id_burglar_alarm_model").html('');
                        $("#id_burglar_alarm_model").parent().find(".select-text").html("");

                        
                        if ($("#id_burglar_alarm_group").val() == "" || $("#id_burglar_alarm_group").val() == "2")  //hardcoded no burglar alarm id.
                            $("#id_burglar_alarm_model").attr("disabled", true);
                        else {

                            $.ajax(
                                    {
                                        url:"{% url get_ba_models %}",
                                        data:{group:$("#id_burglar_alarm_group").val() },
                                        dataType:"json",
                                        success:function(data) {
                                            var options = '';
                                            options += '<option value="">' + '--------' + '</option>';
                                            $.each(data, function(index, value) {
                                                options += '<option value="' + index + '">' + value + '</option>';
                                            });
                                            $("#id_burglar_alarm_model").html(options);
                                           transform_select($("#id_burglar_alarm_model").parent());
                                           // console.log($("#id_burglar_alarm_model").parent());
                                            $("#id_burglar_alarm_model").removeAttr("disabled");

                                        }
                                    }
                            );
                        }
                    });
                }
        );
    </script>

    </head>

    <div id="calc-tabs">
        <ul>
            <li><a href="#tabs-1">КАСКО</a></li>
            <li><a href="#tabs-2">ОСАГО</a></li>
            <li><a href="#tabs-3">ДМС</a></li>
            <li><a href="#tabs-4">ДАГО</a></li>
            <li><a href="#tabs-5">HC</a></li>
            <li><a href="#tabs-6">ВЗР</a></li>
            <li><a href="#tabs-7">ИФЛ</a></li>
        </ul>

        <div id="tabs-1">
            <div class="form-round-block">
                <h2>Сортировать по:</h2>

                {% if msg %}
                    <b>Ошибка: {{ msg }}</b>
                    {% else %}

                    <div id="sort-table">
                        <form action="" method="post">
                            {% csrf_token %}

                        <table id="sort-parameters">
                            <tr>
                                <td>Цена</td>
                                <td>
                                    <div class="style-checkbox">{{ s1_form.factor_price }}</div>
                                </td>
                                <td>Расположение</td>
                                <td>
                                    <div class="style-checkbox">{{ s1_form.factor_accessibility }}</div>
                                </td>
                                <td>Быстрота покупки</td>
                                <td>
                                    <div class="style-checkbox">{{ s1_form.factor_service }}</div>
                                </td>
                                <td rowspan="2">Качество информационной поддержки</td>
                                <td rowspan="2">
                                    <div class="style-checkbox">{{ s1_form.factor_qualitysupport }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Условия страхования</td>
                                <td>
                                    <div class="style-checkbox">{{ s1_form.factor_insuranceterms }}</div>
                                </td>
                                <td>Популярность компании</td>
                                <td>
                                    <div class="style-checkbox">{{ s1_form.factor_reputation }}</div>
                                </td>
                                <td>Простота выплаты</td>
                                <td>
                                    <div class="style-checkbox">{{ s1_form.factor_easepay }}</div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
            </div>

            <div class="form-round-block" id="economy-block">
                <h2>Экономия</h2>
                <p><strong>Стандартная франшиза</strong></p>
                
                {{ s1_form.franchise }}

                <p><strong>Охранная система автомобиля</strong></p>
                
                <div class="long-select">
                    <span class="select-text"></span>
                    {{ s1_form.burglar_alarm_group }}
                </div>

                <div class="long-select">
                    <span class="select-text"></span>
                    {{ s1_form.burglar_alarm_model }}
                </div>


                <p><input type="submit" value="Обновить"/></p>
                </form>
            </div>

            <div id="result-table-step2">
                <table border="1">
                    {% for comp in result.info %}
                        <tr>
                            <td><b>{{ comp.full_name }}</b></td>

                            {% for p in comp.parameters.items %}
                                {% ifequal p.1 "on" %}
                                    <td class="small">

                                        да
                                    </td>
                                {% else %}
                                    <td class="small">

                                        нет
                                    </td>
                                {% endifequal %}
                            {% endfor %}


                            <td class="final-price">
                                {{ comp.score }}
                                {{ comp.ourscore }}
                                <a href="{% url ncalc_step3 comp.alias %}">купить</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>


                {% endif %}

            <a href="{% url ncalc_step1 %}">Назад</a><br/>
        </div>


        <div id="tabs-2">осаго</div>
        <div id="tabs-3">дмс</div>
        <div id="tabs-4">даго</div>
        <div id="tabs-5">нс</div>
        <div id="tabs-6">взр</div>
        <div id="tabs-7">ифл</div>
    </div>

{% endblock %}