{% extends "base.html" %}

{% block content %}
<div id="ins_notification_single">
  <h3>Уведомление</h3>
  <table width="" cellspacing="" cellpadding="" border="">
    <tr>
      <th>Отправитель: </th><td>{{ notice.sender }}</td>
    </tr>
    <tr>
        <th>Получено: </th><td>{{ notice.added }}</td>
    </tr>
    <tr>
      <th>Тема: </th><td>{{ notice.sub }}</td>
    </tr>
    <tr>
      <th>Содержание: </th><td>{{ notice.message }}</td>
    </tr>
  </table>

  <div id="buttons">
  <ul>
    <li><a href="/notification/">Назад</a></li>
  </ul>
</div>
    
  </div>

</div>
{% endblock %}
