{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div id="calc-tabs">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="{% url userprofile_edit %}">Мои данные</a></li>
                <li class="ui-state-default ui-corner-top"><a href="{% url userprofile_policylist %}">Мои полисы</a></li>
                <li class="ui-state-default ui-corner-top"><a href="{% url notification_notices %}">Уведомления {% if notice_unseen_count %}({{ notice_unseen_count }}){% endif %}</a></li>
                <li class="ui-state-default ui-corner-top"><a href="{% url userprofile_faq %}">FAQ</a></li>
            </ul>

            <!--- Первая закладка --->
            <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                <div >
                    <div>
                            <!---- Первая закладка внутри ----->
                            <div  class="form-round-block low-tabs">
                                {% if main_persona %}
                                        <div class="cont_text">
                                            <p>Вы можете добавить персональные данные других лиц. Эти данные помогут вам
                                                эффективно и быстро оформить для них страховые полисы.</p>

                                            <p><a href="{% url userprofile_addpersona %}"
                                                  class="style_button">ДОБАВИТЬ</a>
                                        </div>
                                {% endif %}
                            </div>
                            <div id="calc-tabs" class="low-tabs shrink-tabs">
                            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="{% url userprofile_edit %}">
                                    {% if main_persona %}
                                        {{ main_persona.last_name }} {{ main_persona.first_name }}
                                    {% else %}
                                        Вы
                                    {% endif %}</a></li>
                                {% for pers in personas %}
                                    <li class="ui-state-default ui-corner-top"><a
                                            href="{% url userprofile_editpersona pers.id %}">{{ pers.last_name }} {{ pers.first_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                                {% url userprofile_edit as action_url %}
                                {% include "profile/forms/persona_form2.html" with persona=main_persona %}

                            <div class="form-round-block">
                                <div class="user_data">
                                    Сменить пароль:
                                </div>
                                <form action="{% url auth_password_change %}" method="post">
                                    {% csrf_token %}
                                    <table cellpadding="0" cellspacing="0" class="table_user_form">
                                        <tr>
                                            <th>Старый пароль:</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ password_form.old_password }}
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Новый пароль:</th>
                                            <th>Подтвердите пароль:</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ password_form.new_password1 }}
                                            </td>
                                            <td>
                                                {{ password_form.new_password2 }}
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="clear"></div>
                                    <div class="box_button_seva">
                                        <p><input name="" type="submit" value="ИЗМЕНИТЬ" class="style_button"/></p>
                                    </div>
                                </form>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block inner_content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>Профиль пользователя</p>
        {{ form }}
    </form>
{% endblock %}
