{% extends "profile/userprofile_base.html" %}



{% block inner_content %}
<form action="" method="post">
  {% csrf_token %}
  <p>Профиль пользователя</p>
{{ profile_form.as_p }}
<input type="submit" value="Сохранить" />
</form>
{% if saved %}
<p>Данные сохранены</p>
{% endif %}

{% block persona_table %}

<div id="persona_table">
  <table >
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th></th>
      <th></th>
    {% for p_f in persona_forms %}
      {% if forloop.first %}
      <form method="post" id="" action="">{% csrf_token %}
	<tr>
	  <td>
	    <input id="id_last_name" type="text" maxlength="30" 
		   value="{{ p_f.last_name.value }}" 
		   name="last_name"  readonly="readonly">
	  </td>
	  <td>
	    <input id="id_first_name" type="text" maxlength="30" 
		   value="{{ p_f.first_name.value }}" 
		   name="first_name"  readonly="readonly">
	  </td>
	  <td>
	    <input id="id_middle_name" type="text" maxlength="30" 
		   value="{{ p_f.middle_name.value }}" 
		   name="middle_name"  readonly="readonly">
	  </td>
	  <td>{{ p_f.birth_date }}</td>
	  <td><input type="submit" value="Изменить"></td>
	  <td>
	    {{ p_f.persona_flag }}
	    {{ p_f.persona_id }}
	    {{ p_f.me }}
	  </td>
	</tr>
      </form>
      {% endif %}
      {% if not forloop.first and not forloop.last %}
      <form method="post" id="" action="">{% csrf_token %}
	<tr>
	  <td>{{ p_f.last_name }}</td>
	  <td>{{ p_f.first_name }}</td>
	  <td>{{ p_f.middle_name }}</td>
	  <td>{{ p_f.birth_date }}</td>
	  <td><input type="submit" value="Изменить"></td>
	  <td>
	    <input type="submit" value="Удалить">
	    {{ p_f.persona_flag }}
	    {{ p_f.persona_id }}
	    {{ p_f.me }}
	  </td>
	</tr>
      </form>
      {% endif %}
      {% if forloop.last %}
      <form method="post" id="" action="">{% csrf_token %}
	<tr>
	  <td>{{ p_f.last_name }}</td>
	  <td>{{ p_f.first_name }}</td>
	  <td>{{ p_f.middle_name }}</td>
	  <td>{{ p_f.birth_date }}</td>
	  <td><input type="submit" value="Добавить"></td>
	  <td>
	    {{ p_f.persona_flag }}
	  </td>
	</tr>
      </form>
      {% endif %}


    {% endfor %}
    
  </table>
</div>

{% endblock %} <!-- persona_table -->


{% endblock %}

