{% extends "base.html" %}

{% block content %}

    <div class="content">

        <div id="calc-tabs">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top"><a href="{% url userprofile_edit %}">Мои данные</a></li>
                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="{% url userprofile_policylist %}">Мои полисы</a></li>
                <li class="ui-state-default ui-corner-top"><a href="{% url notification_notices %}">Уведомления {% if notice_unseen_count %}({{ notice_unseen_count }}){% endif %}</a></li>
                <li class="ui-state-default ui-corner-top"><a href="{% url userprofile_faq %}">FAQ</a></li>
            </ul>
            <div  class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                          <div id="calc-tabs" class="low-tabs shrink-tabs">
                            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                {% for type_id, type_name in policy_types.items %}
                                    <li class="ui-state-default ui-corner-top {% if type_id|stringformat:"s" == policy_type %} ui-tabs-selected ui-state-active{% endif %}">
                                        <a href="{% url userprofile_policylist_type type_id %}">{{ type_name }}</a>
                                    </li>
                                    {% endfor %}
                            </ul>

                                <div class="form-round-block low-tabs">
<table class="policy-list">
    {% if policy_type in "12" %}
      <thead><th>Страховая компания</th><th>Страхователь</th><th>Собственник ТС</th>
      <th>Транспортное средство</th><th>Водители</th><th>Текущий статус</th></thead>
      <tbody>
      {% for  policy in policy_list %}
        <tr>
          <td>{{ policy.company }}</td>
          <td>{{ policy.first_name }} {{ policy.middle_name }} {{ policy.last_name }}</td>
          <td>{{ policy.owner_first_name }} {{ policy.owner_middle_name }} {{ policy.owner_last_name }}</td>
          <td>{{ policy.vehicle }}</td>
          <td> N/A </td>
          <td>{{ policy.state }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="6">Полисов пока нет.</td></tr>
      {% endfor %}
      </tbody>
    {% endif %}
</table>
</div>
            </div>
            </div>
            </div>
            </div>
{% endblock %}
