{% extends "base.html" %}

{% block content %}
<div class="content">
  <div class="tabs_box">
    <ul class="tabs">
      <li><a class="active" href="{% url userprofile_edit %}">МОИ ДАННЫЕ</a></li>
      <li><a href="#">МОИ ПОЛИСЫ</a></li>
      <li><a href="{% url notification_notices %}">УВЕДОМЛЕНИЯ {% if notice_unseen_count %}({{ notice_unseen_count }}){% endif %}</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>

    <!--- Первая закладка --->
    <div id="tabs_cont_1" class="bg_tabs_f">
      <div class="bg_tabs_t">
        <div class="bg_tabs_b">
          <div class="tabs2">
            <ul class="tab5">
              <li><a href="#" class="active">ЛЮДИ +</a></li>
              {% for persona in personas %}
              <li class="user_name"><a href="{% url userprofile_editpersona persona.id %}">{{persona.last_name}} {{ persona.first_name }}</a></li>
              {% endfor%}
            </ul>
            <!---- Первая закладка внутри ----->
            <div id="tabs_cont3_1" class="bg_tabs3_box">
              <div class="bg_tabs2_f">
                <div class="cont_text">
                  <p>Вы можете добавить персональные данные других лиц. Эти данные  помогут вам эффективно и быстро оформить для них страховые полисы.</p>
                  <p><a href="{% url userprofile_addpersona %}" class="style_button" >ДОБАВИТЬ</a></p></p>
                </div>
              </div>{% block persona_form %}
              {% include "profile/forms/persona_form.html" with profile_form=profile_form persona=persona_me password_form=password_form %}
				{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
