{% extends "base.html" %}
{% load inbox %}


{% block content %}
    <div class="content">
        <div class="tabs_box">
            <ul class="tabs">
                <li><a class="active" href="{% url userprofile_edit %}">МОИ ДАННЫЕ</a></li>
                <li><a href="#">МОИ ПОЛИСЫ</a></li>
                <li><a href="#">УВЕДОМЛЕНИЯ</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>

            <!--- Первая закладка --->
            <div id="tabs_cont_1" class="bg_tabs_f">
                <div class="bg_tabs_t">
                    <div class="bg_tabs_b">
                        <div class="tabs2">
                            <ul class="tab5">
                                <li><a href="{% url userprofile_edit %}" class="active">
                                    {% if main_persona %}
                                        {{ main_persona.last_name }} {{ main_persona.first_name }}
                                    {% else %}
                                        Вы
                                    {% endif %}</a></li>
                                {% for pers in personas %}
                                    <li><a
                                            href="{% url userprofile_editpersona pers.id %}">{{ pers.last_name }} {{ pers.first_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!---- Первая закладка внутри ----->
                            <div id="tabs_cont3_1" class="bg_tabs3_box">
                                {% if main_persona %}
                                    <div class="bg_tabs2_f">
                                        <div class="cont_text">
                                            <p>Вы можете добавить персональные данные других лиц. Эти данные помогут вам
                                                эффективно и быстро оформить для них страховые полисы.</p>

                                            <p><a href="{% url userprofile_addpersona %}"
                                                  class="style_button">ДОБАВИТЬ</a>
                                            </p></p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% url userprofile_edit as action_url %}
                                {% include "profile/forms/persona_form2.html" with persona=main_persona %}
                            </div>
                            <div class="bg_tabs2_f">
                                <div class="user_data">
                                    Сменить пароль:
                                </div>
                                <form action="{% url auth_password_change %}" method="post">
                                    {% csrf_token %}
                                    <table cellpadding="0" cellspacing="0" class="table_user_form">
                                        <tr>
                                            <th>Старый пароль:</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ password_form.old_password }}
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Новый пароль:</th>
                                            <th>Падтвердите пароль:</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ password_form.new_password1 }}
                                            </td>
                                            <td>
                                                {{ password_form.new_password2 }}
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="clear"></div>
                                    <div class="box_button_seva">
                                        <p><input name="" type="submit" value="ИЗМЕНИТЬ" class="style_button"/></p>
                                    </div>
                                </form>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block inner_content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>Профиль пользователя</p>
        {{ form }}
    </form>
{% endblock %}
