{% extends "base.html" %}
{% load inbox %}


{% block content %}
<div class="content">
        <div class="tabs_box">
                <ul class="tabs">
                        <li><a href="#tabs_cont_1">МОИ ДАННЫЕ</a></li>
                        <li><a href="#tabs_cont_2">МОИ ПОЛИСЫ</a></li>
                        <li><a href="#tabs_cont_3">УВЕДОМЛЕНИЯ</a></li>
                        <li><a href="#tabs_cont_4">FAQ</a></li>
                </ul>
                
                <!--- Первая закладка --->
                <div id="tabs_cont_1" class="bg_tabs_f"><div class="bg_tabs_t"><div class="bg_tabs_b">
                        <div class="tabs2">
                                <ul class="tab5">
                                        <li><a href="#tabs_cont3_1" class="active">ЛЮДИ +</a></li>
                                        <li class="user_name"><a href="#tabs_cont3_2">Иванова Ирина</a></li>
                                </ul>
                                <!---- Первая закладка внутри ----->
                                <div id="tabs_cont3_1" class="bg_tabs3_box">
                                        <div class="bg_tabs2_f">
                                                <div class="cont_text">
                                                        <p>Вы можете добавить персональные данные других лиц.Эти данные  помогут вам эффиктивно и быстро оформить для них страховые полисы.</p>
                                                        <p><input name="" type="button" value="ДОБАВИТЬ" class="style_button" /></p>
                                                </div>
                                        </div>
                                        <div class="bg_tabs2_f">
                                                <div class="user_data">
                                                        Персональные даные ID MO345345
                                                </div>
                                                <div class="box_textarea">
                                                        <div class="box_textarea_header">Дополнительная информация:</div>
                                                        <textarea name="" cols="" rows=""></textarea>
                                                </div>
                                                <table cellpadding="0" cellspacing="0" class="table_user_form">
                                                        <tr>
                                                                <th>Фамилия:</th>
                                                                <th>Страна:</th>
                                                        </tr>
                                                        <tr>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                                <td>
                                                                        <select class="style_select">
                                                                                <option>Москва</option>
                                                                        </select>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <th>Имя:</th>
                                                                <th>Город:</th>
                                                        </tr>
                                                        <tr>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                                <td>
                                                                        <select class="style_select">
                                                                                <option>Москва</option>
                                                                        </select>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <th>Отчество:</th>
                                                                <th>Индекс:</th>
                                                        </tr>
                                                        <tr>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                        </tr>
                                                        <tr>
                                                                <th>Телефон:</th>
                                                                <th>Улица:</th>
                                                        </tr>
                                                        <tr>
                                                                <td><span class="phone_code">+7</span><input name="" type="text" class="style_input6" /><input name="" type="text" class="style_input7" /></td>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                        </tr>
                                                        <tr>
                                                                <th>E-mail:</th>
                                                                <th>
                                                                        <div class="adres_text">
                                                                                Дом
                                                                        </div>
                                                                        <div class="adres_text">
                                                                                Корпус
                                                                        </div>
                                                                        <div class="adres_text">
                                                                                Строение
                                                                        </div>
                                                                        <div class="adres_text">
                                                                                Квартира
                                                                        </div>
                                                                </th>
                                                        </tr>
                                                        <tr>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                                <td><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /></td>
                                                        </tr>
                                                </table>
                                                <div class="clear"></div>
                                        </div>
                                        <div class="bg_tabs2_f">
                                                <div class="user_data">
                                                        Сменить пароль:
                                                </div>
                                                <table cellpadding="0" cellspacing="0" class="table_user_form">
                                                        <tr>
                                                                <th>Старый пароль:</th>
                                                                <th></th>
                                                        </tr>
                                                        <tr>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                                <td></td>
                                                        </tr>
                                                        <tr>
                                                                <th>Новый пароль:</th>
                                                                <th>Падтвердите пароль:</th>
                                                        </tr>
                                                        <tr>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                        </tr>
                                                </table>
                                                <div class="clear"></div>
                                        </div>
                                        <div class="box_button_seva">
                                                <p><input name="" type="button" value="СОХРАНИТЬ" class="style_button" /></p>
                                        </div>
                                </div>
                                <!---- Вторая закладка внутри ----->
                                <div id="tabs_cont3_2" class="bg_tabs3_box">
                                        <div class="bg_tabs2_f">
                                                <div class="user_data">
                                                        Персональные даные ID MO345345
                                                </div>
                                                <div class="box_textarea">
                                                        <div class="box_textarea_header">Дополнительная информация:</div>
                                                        <textarea name="" cols="" rows=""></textarea>
                                                </div>
                                                <table cellpadding="0" cellspacing="0" class="table_user_form">
                                                        <tr>
                                                                <th>Фамилия:</th>
                                                                <th>Страна:</th>
                                                        </tr>
                                                        <tr>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                                <td>
                                                                        <select class="style_select">
                                                                                <option>Москва</option>
                                                                        </select>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <th>Имя:</th>
                                                                <th>Город:</th>
                                                        </tr>
                                                        <tr>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                                <td>
                                                                        <select class="style_select">
                                                                                <option>Москва</option>
                                                                        </select>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <th>Отчество:</th>
                                                                <th>Индекс:</th>
                                                        </tr>
                                                        <tr>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                        </tr>
                                                        <tr>
                                                                <th>Телефон:</th>
                                                                <th>Улица:</th>
                                                        </tr>
                                                        <tr>
                                                                <td><span class="phone_code">+7</span><input name="" type="text" class="style_input6" /><input name="" type="text" class="style_input7" /></td>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                        </tr>
                                                        <tr>
                                                                <th>E-mail:</th>
                                                                <th>
                                                                        <div class="adres_text">
                                                                                Дом
                                                                        </div>
                                                                        <div class="adres_text">
                                                                                Корпус
                                                                        </div>
                                                                        <div class="adres_text">
                                                                                Строение
                                                                        </div>
                                                                        <div class="adres_text">
                                                                                Квартира
                                                                        </div>
                                                                </th>
                                                        </tr>
                                                        <tr>
                                                                <td><input name="" type="text" class="style_input5" /></td>
                                                                <td><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /></td>
                                                        </tr>
                                                </table>
                                                <div class="clear"></div>
                                        </div>
                                        <div class="box_button_seva">
                                                <p><input name="" type="button" value="СОХРАНИТЬ" class="style_button" /></p>
                                        </div>
                                </div>
                        </div>
                        <script>
                                $(function () {
                                        var tabContainers = $('div.tabs2 > .bg_tabs3_box'); // получаем массив контейнеров
                                        tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
                                        // далее обрабатывается клик по вкладке
                                        $('div.tabs2 ul.tab5 a').click(function () {
                                                tabContainers.hide(); // прячем все табы
                                                tabContainers.filter(this.hash).show(); // показываем содержимое текущего
                                                $('div.tabs2 ul.tab5 a').removeClass('active'); // у всех убираем класс 'selected'
                                                $(this).addClass('active'); // текушей вкладке добавляем класс 'selected'
                                                return false;
                                        }).filter(':first').click();
                                });
                        </script>
                </div></div></div>
                <!-------- Вторая закладка --------->
                <div id="tabs_cont_2" class="bg_tabs_f"><div class="bg_tabs_t"><div class="bg_tabs_b">
                        <div class="tabs2">
                                <ul class="tab4">
                                        <li><a href="#tabs_cont2_1" class="active">ОСАГО</a></li>
                                        <li><a href="#tabs_cont2_2">КАСКО</a></li>
                                        <li><a href="#tabs_cont2_3">ДМС</a></li>
                                        <li><a href="#tabs_cont2_4">ДАГО</a></li>
                                        <li><a href="#tabs_cont2_5">НС</a></li>
                                        <li><a href="#tabs_cont2_6">ВЗР</a></li>
                                        <li><a href="#tabs_cont2_7">ИФЛ</a></li>
                                </ul>
                                <div id="tabs_cont2_1" class="bg_tabs2_box">
                                        <div class="bg_tabs2_f">
                                                <div class="strahovka_header">
                                                        <strong>СТРАХОВОЙ ПОЛИС</strong>   <span>серия</span> ВВВ  № 0164384562
                                                </div>
                                                <div class="contacte_firm">
                                                        <div class="contacte_firm_img">
                                                                <img src="images/firm.jpg" alt="" />
                                                        </div>
                                                        <p>ООО “Росгострах””</p>
                                                        <p>140003, Москва</p>
                                                        <p>Дербеневская наб, дом 7 стр 22</p>
                                                        <p>тел : <strong>+7 (495) 502 00 50</strong></p>
                                                        <p>Факс: +7 (495) 746 54 37</p>
                                                        <p><strong>www.rgs.ru</strong></p>
                                                </div>
                                                <table cellpadding="0" cellspacing="0" class="table_tabs_info">
                                                        <tr>
                                                                <th>Срок действия договора</th>
                                                                <td>
                                                                        <p><span class="width">с</span> <input name="" type="text" class="style_input2" /> ч. <input name="" type="text" class="style_input2" /> мин. <input name="" type="text" class="style_input3" /> г.</p>
                                                                        <p><span class="width">по</span> <input name="" type="text" class="style_input2" /> ч. <input name="" type="text" class="style_input2" /> мин. <input name="" type="text" class="style_input3" /> г.</p>
                                                                </td>
                                                        </tr>
                                                        <tr>    
                                                                <th>Срок действия договора</th>
                                                                <td><input name="" type="text" class="style_input" /></td>
                                                        </tr>
                                                        <tr>
                                                                <th>Собственник транспортного средства</th>
                                                                <td><input name="" type="text" class="style_input" /></td>
                                                        </tr>
                                                        <tr>
                                                                <th>Транспортное средство</th>
                                                                <td><input name="" type="text" class="style_input" /></td>
                                                        </tr>
                                                        <tr>
                                                                <th>Иденфикационный номер 
        транспортного средства</th>
                                                                <td><input name="" type="text" class="style_input" /></td>
                                                        </tr>
                                                        <tr>
                                                                <th>Государственный регистрационый 
        знак транспортного средства</th>
                                                                <td><input name="" type="text" class="style_input" /></td>
                                                        </tr>
                                                        <tr>
                                                                <th>ПТС</th>
                                                                <td>
                                                                        Серия <input name="" type="text" class="style_input4" />&nbsp;&nbsp; &nbsp;&nbsp;
                                                                        Номер <input name="" type="text" class="style_input4" />
                                                                </td>
                                                        </tr>
                                                </table>
                                                <div class="tabs_header">Договор заключен в отношении:</div>
                                                <p><label>неограниченного количества лиц, допущенных к управлению ТС <input name="" type="checkbox" value="" /></label></p>
                                                <table cellpadding="0" cellspacing="0" class="table_tabs_info">
                                                        <tr>    
                                                                <th>1. Иванов Иван Сергеевич</th>
                                                                <td><input name="" type="text" class="style_input" /></td>
                                                        </tr>
                                                        <tr>    
                                                                <th>2. Иванов Сергей Александрович</th>
                                                                <td><input name="" type="text" class="style_input" /></td>
                                                        </tr>
                                                </table>
                                                <p>Страховая сумма, в пределах который страховщик при наступлении каждого страхового случая
        (независимо от количества страховых случаев в течении срока действия договора обязательного
        страхования) обязуется возместить потерпевшим причененный вред,состовляет:<br />
                в части возмещения вреда,причененного жизни или здоровью каждого потерпевшего,-не более
        160 тыс.рублей;<br />
           в части возмещения вреда,причененного имуществу нескольких потерпевших,- не более 
        160 тыс.рублей;<br />
                 в части возмещения вреда,причененного имуществу одного потерпевшего,- не более
        120 тыс.рублей;<br /></p>
                                                <div class="htamp"></div>
                                                <p>Страховой случай-наступление гражданской ответсвтенности владельца транспортного средства
         за причинение вреда жизни,здоровью или имуществу потерпевших при использованиии транспортного
        средства за причинение вреда с договором обязательного страхования обязанность страховщика
        осуществить страховую выплату.<br />
                                                Страховой полис действует на территории Российской Федерации.</p>
                                                <p>Страховая премия  (две тысячи семьсот семьдесят два рубля 00 копеек) 2 772.00</p>
                                                <p>Особые отметки DI</p>
                                                <p>Дата заключения договора <input name="" type="text" class="style_input2" /> <input name="" type="text" class="style_input2" /> <input name="" type="text" class="style_input4" /> г.</p>
                                                <div class="clear"></div>
                                        </div>
                                        <div class="box_button">
                                                <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                                <td><input name="" type="button" value="ПОДРОБНЕЕ" class="style_button" /></a>
                                                                <th></th>
                                                                <td><input name="" type="button" value="РАСПЕЧАТАТЬ" class="style_button" /></a>
                                                                <th></th>
                                                                <td><input name="" type="button" value="ПРОДЛИТЬ" class="style_button" /></a>
                                                                <th></th>
                                                                <td><input name="" type="button" value="РЕДАКТИРОВАТЬ" class="style_button" /></td>
                                                        </tr>
                                                </table>
                                        </div>
                                </div>
                                <div id="tabs_cont2_3" class="bg_tabs2_box">3</div>
                                <div id="tabs_cont2_4" class="bg_tabs2_box">4</div>
                                <div id="tabs_cont2_5" class="bg_tabs2_box">5</div>
                                <div id="tabs_cont2_6" class="bg_tabs2_box">6</div>
                                <div id="tabs_cont2_7" class="bg_tabs2_box">7</div>
                                
                        </div>
                        <script>
                                $(function () {
                                        var tabContainers = $('div.tabs2 > .bg_tabs2_box'); // получаем массив контейнеров
                                        tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
                                        // далее обрабатывается клик по вкладке
                                        $('div.tabs2 ul.tab4 a').click(function () {
                                                tabContainers.hide(); // прячем все табы
                                                tabContainers.filter(this.hash).show(); // показываем содержимое текущего
                                                $('div.tabs2 ul.tab4 a').removeClass('active'); // у всех убираем класс 'selected'
                                                $(this).addClass('active'); // текушей вкладке добавляем класс 'selected'
                                                return false;
                                        }).filter(':first').click();
                                });
                        </script>
                </div></div></div>
                <div id="tabs_cont_3" class="bg_tabs_f"><div class="bg_tabs_t">3</div></div>
                <div id="tabs_cont_4" class="bg_tabs_f"><div class="bg_tabs_t">4</div></div>
                <div id="tabs_cont_5" class="bg_tabs_f"><div class="bg_tabs_t">5</div></div>
                <div id="tabs_cont_6" class="bg_tabs_f"><div class="bg_tabs_t">6</div></div>
                <div id="tabs_cont_7" class="bg_tabs_f"><div class="bg_tabs_t">7</div></div>
        </div>
        <script>
                $(function () {
                        var tabContainers = $('div.tabs_box > .bg_tabs_f'); // получаем массив контейнеров
                        tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
                        // далее обрабатывается клик по вкладке
                        $('div.tabs_box ul.tabs a').click(function () {
                                tabContainers.hide(); // прячем все табы
                                tabContainers.filter(this.hash).show(); // показываем содержимое текущего
                                $('div.tabs_box ul.tabs a').removeClass('active'); // у всех убираем класс 'selected'
                                $(this).addClass('active'); // текушей вкладке добавляем класс 'selected'
                                return false;
                        }).filter(':first').click();
                });
        </script>
</div>
{% endblock %}
