{% extends "base.html" %}
{% load inbox %}


{% block content %}
    <div class="content">
        <div class="tabs_box">
            <ul class="tabs">
                <li><a class="active" href="{% url userprofile_edit %}">МОИ ДАННЫЕ</a></li>
                <li><a href="#">МОИ ПОЛИСЫ</a></li>
                <li><a href="#">УВЕДОМЛЕНИЯ</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>

            <!--- Первая закладка --->
            <div id="tabs_cont_1" class="bg_tabs_f">
                <div class="bg_tabs_t">
                    <div class="bg_tabs_b">
                        <div class="tabs2">
                            <ul class="tab5">
                                <li><a href="{% url userprofile_edit %}">
                                    {% if main_persona %}{{ main_persona.last_name }} {{ main_persona.first_name }}{% else %}
                                        Вы{% endif %}</a></li>
                                {% for pers in personas %}
                                    <li><a href="{% url userprofile_editpersona pers.id %}"
                                           {% ifequal pers.id persona.id %}class="active"{% endifequal %}>{{ pers.last_name }} {{ pers.first_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!---- Первая закладка внутри ----->
                            <div id="tabs_cont3_1" class="bg_tabs3_box">
                                {% url userprofile_editpersona as action_url %}
                                {% include "profile/forms/persona_form2.html" with persona=persona %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block inner_content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>Профиль пользователя</p>
        {{ form }}
    </form>
{% endblock %}
