{% extends "profile/userprofile_base.html" %}

{% block inner_content %}

<div id="userprofile_edit_delete_ask">
  <h2>Вы действительно хотите удалить персону: {{ persona.last_name }} {{ persona.first_name }} {{ persona.middle_name }}?</h2>
</div>



<div id="userprofile_edit_delete_buttons">
  <div  id="userprofile_edit_delete_button_no">
    <form action="" method="get">{% csrf_token %}
      <input type="submit" value="Нет" />
    </form>
  </div>
  <div  id="userprofile_edit_delete_button_yes">
    <form action="" method="post">{% csrf_token %}
      <input type="hidden" name="delete_flag" value="True">
      <input type="hidden" name="action_type" value="delete">
      
      <input type="hidden" name="persona_id" value="{{ persona.id }}">
      <input type="submit" value="Да" />
    </form>
  </div>
</div>


{% endblock %}

