{% extends "profile/userprofile_base.html" %}

{% block inner_content %}
<form action="" method="post">
  {% csrf_token %}
  <p>Профиль пользователя</p>
{{ profile_form.as_p }}
<input type="submit" value="Сохранить" />
</form>
{% if saved %}
<p>Данные сохранены</p>
{% endif %}

{% block persona_table %}

<div id="persona_table">
  <table >
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th></th>
      <th></th>
	<tr>
	  <td>
            {{ persona_me.last_name }}
	  </td>
	  <td>
            {{ persona_me.middle_name }}
	  </td>
	  <td>
            {{ persona_me.last_name }}
	  </td>
	  <td>
            {{ persona_me.birth_date }}
          </td>
	  <td></a></td>
	  <td><a href="#">Изменить</a></td>
	</tr>
    {% for persona in personas %}
	<tr>
	  <td>
            {{ p.last_name }}
	  </td>
	  <td>
            {{ p.middle_name }}
	  </td>
	  <td>
            {{ p.last_name }}
	  </td>
	  <td>
            {{ p.birth_date }}
          </td>
	  <td><a href="#">Удалить</a></td>
	  <td><a href="#">Изменить</a></td>
	</tr>
    {% endfor %}
  </table>
</div>
{% endblock %} 

{% endblock %}

