<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<title>Главная</title>
<script type="text/javascript" src="js/jquery.tools.min.js"></script>
<script type="text/javascript" src="js/jquery.checkbox.js"></script>
<script type="text/javascript" src="js/jquery.tablehover.pack.js"></script>
<script src="js/jquery.ui.core.js"></script>
<script src="js/jquery.ui.widget.js"></script>
<script src="js/jquery.ui.mouse.js"></script>
<script src="js/jquery.ui.slider.js"></script>
<script>
$(function() {
	$( "#slider-range-min2" ).slider({
		range: "min",
		step: 1000,
		value: 1000,
		min: 1000,
		max: 90000,
		slide: function( event, ui ) {
			$( "#amount2" ).val( "$" + ui.value );
		}
	});
	$( "#amount2" ).val( "$" + $( "#slider-range-min2" ).slider( "value" ) );
});
$(function() {
	$( "#slider-range-min3" ).slider({
		range: "min",
		step: 1000,
		value: 1000,
		min: 1000,
		max: 90000,
		slide: function( event, ui ) {
			$( "#amount3" ).val( "$" + ui.value );
		}
	});
	$( "#amount3" ).val( "$" + $( "#slider-range-min3" ).slider( "value" ) );
});
</script>
<script>
	$(document).ready(function() {
		$("a[rel]").overlay({

	// some mask tweaks suitable for modal dialogs
	mask: {
		color: '#ebecff',
		loadSpeed: 200,
		opacity: 0.9
	},

	closeOnClick: true
});
	}); 
</script>
</head>
<body>
<div class="body">
	<!-- Шапка-->
	<div class="head">
		<div class="logo"><a href="#"><img src="images/px.gif" alt="" /></a></div>
		<table cellpadding="0" cellspacing="0" class="menu_main">
			<tr>
				<tr>
					<td><a href="#">КАСКО</a></td>
					<td><a href="#">ОСАГО</a></td>
					<td><a href="#">ЗЕЛЕНАЯ КАРТА</a></td>
					<td><a href="#">СТРАХОВАНИЯ ИМУЩЕСТВА</a></td>
					<td><a href="#">ИПОТЕЧНОЕ КОМПАНИЕ</a></td>
					<td><a href="#">СТРАХОВАНИЕ ПУТЕШЕСТВУЮЩИХ</a></td>
				</tr>
			</tr>
		</table>
		<div class="head_ico">
			<div class="head_ico_text_box">
				<a href="#" class="setup_user_open"><img src="images/user_name_button.jpg" alt="" /></a>
				<div class="head_ico_text">
					DENIGURU@
				</div>
				<div class="setup_user" style="display:none">
					<a href="#" rel="#pop_up_1">регистрация</a>
					<a href="#" rel="#pop_up_2">вход</a>
					<a href="#" rel="#pop_up_3">пароль</a>
					<a href="#" rel="#pop_up_4">вапрос</a>
				</div>
				<script>
					$(document).ready(function(){
						$(".setup_user_open").click(function(){
							$(".setup_user").slideToggle("slow");
						});
					});
				</script>
			</div>
			<a href="#"><img src="images/head_ico_2.gif" alt="" /></a>
			<a href="#"><img src="images/head_ico_1.gif" alt="" /></a>
		</div>
	</div>
	<!-- Конец шапки -->
	<!-- Контент -->
	<div class="content_home">
		<div id="phoneCarousel">
			<div class="previous arrow"><img src="images/px.gif" alt="" /></div>
			<div class="next arrow"><img src="images/px.gif" alt="" /></div>
			
			<div id="stage">
				<a href="#tabs_crug_1"><img class="default" src="images/scroll/scroll_img_1.jpg" width="229" height="302"/></a>
				<a href="#tabs_crug_2"><img src="images/scroll/scroll_img_2.jpg" width="229" height="302" /></a>
				<a href="#tabs_crug_3"><img src="images/scroll/scroll_img_3.jpg"  width="229" height="302" /></a>
			</div>
		</div>
		<script type="text/javascript" src="js/script.js"></script>
		<div class="tabs" id="tabs_crug_1">
			<img src="images/tabs.jpg" alt="" />
		</div>
		<div class="tabs" id="tabs_crug_2">
			<img src="images/tabs_2.jpg" alt="" />
		</div>
		<div class="tabs" id="tabs_crug_3">
			<img src="images/tabs_3.jpg" alt="" />
		</div>
	</div>
	<script>
		$(function () {
			var tabContainers = $('div.content_home > .tabs'); // получаем массив контейнеров
			tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
			// далее обрабатывается клик по вкладке
			$('div#stage a').click(function () {
				tabContainers.hide(); // прячем все табы
				tabContainers.filter(this.hash).show(); // показываем содержимое текущего
				$('div#stage a').removeClass('selected'); // у всех убираем класс 'selected'
				$(this).addClass('selected'); // текушей вкладке добавляем класс 'selected'
				return false;
			}).filter(':first').click();
		});
	</script>
	
	<div class="benefits">
		<div class="header_benefits">
			<span>Н</span>АШИ ПРЕИМУЩЕСТВА >>
		</div>
		<div class="benefits_link">
			<a href="#">Большая</a>
			<a href="#">Надежная</a>
			<a href="#">Инновационная</a>
			<a href="#">Сервисная</a>
			<a href="#">Ответственная</a>
			<a href="#">Больше чем просто страховая компания</a>
		</div>
	</div>
	<div class="button_box">
		<div class="button_link"><a href="#"><img src="images/button_1.jpg" alt="" /></a></div>
		<div class="button_link"><a href="#"><img src="images/button_2.jpg" alt="" /></a></div>
		<div class="button_link"><a href="#"><img src="images/button_3.jpg" alt="" /></a></div>
		<div class="button_link"><a href="#"><img src="images/button_4.jpg" alt="" /></a></div>
		<div class="button_link"><a href="#"><img src="images/button_5.jpg" alt="" /></a></div>
		<div class="button_link"><a href="#"><img src="images/button_6.jpg" alt="" /></a></div>
		
	</div>
	<div class="tabs_footer">
		<ul class="tabs_footer_link">
			<li><a class="" href="#tab_01">Прочее</a></li>
			<li><a class=""  href="#tab_02">Новости</a></li>
			<li><a class="" href="#tab_03">Анонсы</a></li>
		</ul>
		<div class="tabs_footer_cont" id="tab_01">
			<div class="tabs_footer_cont_left">
				<div class="tabs_footer_cont_img">
					<img src="images/img.jpg" alt="" />
				</div>
				<div class="tabs_footer_cont_text">
					<a href="#">Наш сайт,как и все, что делает наша страховая</a> компания 
создан для вас,наших уважаемых клиентов!
Здесь вы сможете легко рассчитывать стоимость и заказать 
полис для всех видов страхования авто,недвижимости...
					<a href="#" class="pointer"><img src="images/pointer.png" alt="" /></a>				</div>
			</div>
			<div class="tabs_footer_cont_right">
				<div class="tabs_footer_cont_img">
					<img src="images/img.jpg" alt="" />
				</div>
				<div class="tabs_footer_cont_text">
					<a href="#">Страхование</a>: особый вид экономических отношений, 
призванный обеспечить страховую защиту людей и 
их дел от различного рода опасностей...
					<a href="#" class="pointer"><img src="images/pointer.png" alt="" /></a>				</div>
			</div>
		</div>
		<div class="tabs_footer_cont" id="tab_02">
			<div class="tabs_footer_cont_left">
				<div class="tabs_footer_cont_img">
					<img src="images/img.jpg" alt="" />
				</div>
				<div class="tabs_footer_cont_text">
					<a href="#">Наш сайт,как и все, что делает наша страховая</a> компания 
создан для вас,наших уважаемых клиентов!
Здесь вы сможете легко рассчитывать стоимость и заказать 
полис для всех видов страхования авто,недвижимости...
					<a href="#" class="pointer"><img src="images/pointer.png" alt="" /></a>				</div>
			</div>
			<div class="tabs_footer_cont_right">
				<div class="tabs_footer_cont_img">
					<img src="images/img.jpg" alt="" />
				</div>
				<div class="tabs_footer_cont_text">
					<a href="#">Страхование</a>: особый вид экономических отношений, 
призванный обеспечить страховую защиту людей и 
их дел от различного рода опасностей...
					<a href="#" class="pointer"><img src="images/pointer.png" alt="" /></a>				</div>
			</div>
		</div>
		<div class="tabs_footer_cont" id="tab_03">
			<div class="tabs_footer_cont_left">
				<div class="tabs_footer_cont_img">
					<img src="images/img.jpg" alt="" />
				</div>
				<div class="tabs_footer_cont_text">
					<a href="#">Наш сайт,как и все, что делает наша страховая</a> компания 
создан для вас,наших уважаемых клиентов!
Здесь вы сможете легко рассчитывать стоимость и заказать 
полис для всех видов страхования авто,недвижимости...
					<a href="#" class="pointer"><img src="images/pointer.png" alt="" /></a>				</div>
			</div>
			<div class="tabs_footer_cont_right">
				<div class="tabs_footer_cont_img">
					<img src="images/img.jpg" alt="" />
				</div>
				<div class="tabs_footer_cont_text">
					<a href="#">Страхование</a>: особый вид экономических отношений, 
призванный обеспечить страховую защиту людей и 
их дел от различного рода опасностей...
					<a href="#" class="pointer"><img src="images/pointer.png" alt="" /></a>				</div>
			</div>
		</div>
		<script>
			$(function () {
				var tabContainers = $('div.tabs_footer > .tabs_footer_cont'); // получаем массив контейнеров
				tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
				// далее обрабатывается клик по вкладке
				$('div.tabs_footer ul.tabs_footer_link a').click(function () {
					tabContainers.hide(); // прячем все табы
					tabContainers.filter(this.hash).show(); // показываем содержимое текущего
					$('div.tabs_footer ul.tabs_footer_link a').removeClass('selected'); // у всех убираем класс 'selected'
					$(this).addClass('selected'); // текушей вкладке добавляем класс 'selected'
					return false;
				}).filter(':first').click();
			});
		</script>
	</div>
	<!-- Конец контент -->
	<!-- Подвал  -->
	<div class="footer">
		<div class="copyright">
			СТРАХОВАЯ КОМПАНИЯ <span>POLISBOOK</span>
		</div>
		<div class="email_1">
			Все жалобы и предложения<br />
			принимаются по адресу:
			<a href="mailto:info@polisbook.ru">info@polisbook.ru</a>
		</div>
		<div class="email_2">
			Вы можете связаться<br />
			с нами через отдел:<br />
			<a href="#">Online-консультации</a>.
		</div>
		<div class="phone_ico"></div>
	</div>
	<!-- Конец подвал  --> 
</div>
<div class="pop_up pop_up_register" id="pop_up_1">
	<div class="pop_up_header">
		<div class="close"></div>
		Регистрация нового пользователя
	</div>
	<div class="pop_up_cont"><div class="pop_up_cont_in">
		<form action="" method="get">
			<table cellspacing="0" cellpadding="0" class="table_user_form">
				<tr>
					<th>Фамилия:</th>
					<th>*Адрес эл.почты:</th>
				</tr>
				<tr>
					<td><input type="text" class="style_input5 style_input_red" name=""></td>
					<td><input type="text" class="style_input5" name=""></td>
				</tr>
				<tr>
					<th>Имя:</th>
					<th>*Повторите адрес эл.почты:</th>
				</tr>
				<tr>
					<td><input type="text" class="style_input5" name=""></td>
					<td><input type="text" class="style_input5" name=""></td>
				</tr>
				<tr>
					<th>Отчество:</th>
					<th>*Пароль:</th>
				</tr>
				<tr>
					<td><input type="text" class="style_input5" name=""></td>
					<td><input type="text" class="style_input5" name=""></td>
				</tr>
				<tr>
					<th>Телефон:</th>
					<th>*Повторите пароль:</th>
				</tr>
				<tr>
					<td><span class="phone_code">+7</span><input type="text" class="style_input6" name=""><input type="text" class="style_input7" name=""></td>
					<td><input type="text" class="style_input5" name=""></td>
				</tr>
			</table>
			<div class="register_checbox">
				<p>я согласен с правилами регистрации <input type="checkbox" class="style_checkbox" /></p>
				<p class="comment_error">*Обязательные поля для заполнения</p>
			</div>
			<div class="pop_up_button">
				<input name="" type="button" value="Зарегестрироваться" />
			</div>
		</form>
	</div></div>
</div>


<div class="pop_up pop_up_autorize" id="pop_up_2">
	<div class="pop_up_header">
		<div class="close"></div>
		Личный кабинет
	</div>
	<div class="pop_up_cont"><div class="pop_up_cont_in">
		<form action="" method="get">
			<table cellspacing="0" cellpadding="0" class="table_user_form">
				<tr>
					<th>*Адрес эл.почты:</th>
				</tr>
				<tr>
					<td><input type="text" class="style_input5 style_input_red" name="">
					<p class="message_error">*Не верный адрес эл.почты</p></td>
				</tr>
				<tr>
					<th>*Пароль:</th>
				</tr>
				<tr>
					<td><input type="text" class="style_input5 style_input_red" name="">
					<p class="message_error">*Не верный пароль</p></td>
				</tr>
				<tr>
					<td><div class="pop_up_button_enter"><input name="" type="button" value="Войти" class="button_style" /></div></td>
				</tr>
				<tr>
					<td>Что делать если вы <a href="#">забыли пароль?</a></td>
				</tr>
			</table>
		</form>
	</div></div>
</div>


<div class="pop_up pop_up_password_recovery" id="pop_up_3">
	<div class="pop_up_header">
		<div class="close"></div>
		Восстановление пароля
	</div>
	<div class="pop_up_cont"><div class="pop_up_cont_in">
		<div class="pop_up_header2">
			Что же  делать, если вы забыли пароль?
		</div>
		<p>В форму ниже введите свой электронный адрес, указанный при регестрации.
Через несколько минут на ваш Адрес эл,почты придет письмо с паролем,</p>
		<div class="form_email">
			<p>*Адрес эл.почты:</p>
			<div class="form_email_input">
				<form action="" method="get">
					<input name="" type="text" class="form_email_input_text" />
					<input name="" type="text" class="form_email_input_button" value="Отправить" />
				</form>
			</div>
			<p class="color_red">*Пользователь не найден</p>
			<p class="color_red">*Не верный адрес эл.почты</p>
		</div>
		<div class="pop_up_contacs">
			Если при восстонавлении пароля у вас возникли сложности, свяжитесь с нами:<br />
+7 (495) 345 43 N\A , skype: polisbook.support.
		</div>
	</div></div>
</div>


<div class="pop_up pop_up_questions" id="pop_up_4">
	<div class="pop_up_header">
		<div class="close"></div>
		Вопросы
	</div>
	<div class="pop_up_cont"><div class="pop_up_cont_in">
		<div class="pop_up_questions_l">
			<form action="" method="get">
				<div class="pop_up_header2">
					У вас есть вопрос?
				</div>
				<div class="questions_form">
					<div class="questions_form_header">Задать вопрос:</div>
					<textarea name="" cols="" rows="" class="questions_textarea"></textarea>
				</div>
				<div class="box_form_code">
					<input name="" type="text" class="code_input" />
					<div class="code">
						<img src="images/code.jpg" alt="" />
					</div>
					<div class="link_reset"><a href="#"><img src="images/reset.gif" alt="" /></a></div>
				</div>
				<div class="fonsize_11">
					<p>Введите код указанный на картинке.</p>
					<p class="color_red">*Вы ввели не правильно код с картинки</p>
				</div>
				<div class="pop_up_button_send">
					<input name="" type="button" value="Отправить" class="style_input_button" />
				</div>
			</form>
		</div>
		<div class="pop_up_questions_r">
			<div class="pop_up_header2">
				FAQ
			</div>
			<ul class="faq">
				<li><a href="#">Частозадаваемые вопросы</a></li>
				<li><a href="#">Как оформить полис</a></li>
				<li><a href="#">Что делать при утере полиса</a></li>
			</ul>
		</div>
	</div></div>
</div>
</body>
</html>
