<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<title>Главная</title>
<script type="text/javascript" src="js/jquery.tools.min.js"></script>
<script type="text/javascript" src="js/jquery.checkbox.js"></script>
<script type="text/javascript" src="js/jquery.tablehover.pack.js"></script>
<script src="js/jquery.ui.core.js"></script>
<script src="js/jquery.ui.widget.js"></script>
<script src="js/jquery.ui.mouse.js"></script>
<script src="js/jquery.ui.slider.js"></script>
<script>
$(function() {
	$( "#slider-range-min2" ).slider({
		range: "min",
		step: 1000,
		value: 1000,
		min: 1000,
		max: 90000,
		slide: function( event, ui ) {
			$( "#amount2" ).val( "$" + ui.value );
		}
	});
	$( "#amount2" ).val( "$" + $( "#slider-range-min2" ).slider( "value" ) );
});
$(function() {
	$( "#slider-range-min3" ).slider({
		range: "min",
		step: 1000,
		value: 1000,
		min: 1000,
		max: 90000,
		slide: function( event, ui ) {
			$( "#amount3" ).val( "$" + ui.value );
		}
	});
	$( "#amount3" ).val( "$" + $( "#slider-range-min3" ).slider( "value" ) );
});
</script>
<script>
	$(document).ready(function() {
		$("a[rel]").overlay({

	// some mask tweaks suitable for modal dialogs
	mask: {
		color: '#ebecff',
		loadSpeed: 200,
		opacity: 0.9
	},

	closeOnClick: true
});
	}); 
</script>
</head>
<body>
<!-- Шапка-->
<div class="head">
	<div class="logo"><a href="#"><img src="images/px.gif" alt="" /></a></div>
	<table cellpadding="0" cellspacing="0" class="menu_main">
		<tr>
			<tr>
				<td><a href="#">КАСКО</a></td>
				<td><a href="#">ОСАГО</a></td>
				<td><a href="#">ЗЕЛЕНАЯ КАРТА</a></td>
				<td><a href="#">СТРАХОВАНИЯ ИМУЩЕСТВА</a></td>
				<td><a href="#">ИПОТЕЧНОЕ КОМПАНИЕ</a></td>
				<td><a href="#">СТРАХОВАНИЕ ПУТЕШЕСТВУЮЩИХ</a></td>
			</tr>
		</tr>
	</table>
	<div class="head_ico">
		<div class="head_ico_text_box">
			<a href="#" class="setup_user_open"><img src="images/user_name_button.jpg" alt="" /></a>
			<div class="head_ico_text">
				DENIGURU@
			</div>
			<div class="setup_user" style="display:none">
				<a href="#" rel="#pop_up_1">регистрация</a>
				<a href="#" rel="#pop_up_2">вход</a>
				<a href="#" rel="#pop_up_3">пароль</a>
				<a href="#" rel="#pop_up_4">вапрос</a>
			</div>
			<script>
				$(document).ready(function(){
					$(".setup_user_open").click(function(){
						$(".setup_user").slideToggle("slow");
					});
				});
			</script>
		</div>
		<a href="#"><img src="images/head_ico_2.gif" alt="" /></a>
		<a href="#"><img src="images/head_ico_1.gif" alt="" /></a>
	</div>
</div>
<!-- Конец шапки -->
<!-- Контент -->
<div class="content">
  	<div class="tabs_box">
		<ul class="tabs">
			<li><a href="#tabs_cont_1">МОИ ДАННЫЕ</a></li>
			<li><a href="#tabs_cont_2">МОИ ПОЛИСЫ</a></li>
			<li><a href="#tabs_cont_3">УВЕДОМЛЕНИЯ</a></li>
			<li><a href="#tabs_cont_4">FAQ</a></li>
		</ul>
		
		<!--- Первая закладка --->
		<div id="tabs_cont_1" class="bg_tabs_f"><div class="bg_tabs_t"><div class="bg_tabs_b">
			<div class="tabs2">
				<ul class="tab5">
					<li><a href="#tabs_cont3_1" class="active">ЛЮДИ +</a></li>
					<li class="user_name"><a href="#tabs_cont3_2">Иванова Ирина</a></li>
					<li><a href="#tabs_cont3_3">ПОЛИСЫ</a></li>
					<li><a href="#tabs_cont3_4">УВЕДОМЛЕНИЯ</a></li>
				</ul>
				<!---- Первая закладка внутри ----->
				<div id="tabs_cont3_1" class="bg_tabs3_box">
					<div class="bg_tabs2_f">
						<div class="cont_text">
							<p>Вы можете добавить персональные данные других лиц.Эти данные  помогут вам эффиктивно и быстро оформить для них страховые полисы.</p>
							<a href="#"><img src="images/button_add.jpg" alt="" /></a>
						</div>
					</div>
					<div class="bg_tabs2_f">
						<div class="user_data">
							Персональные даные ID MO345345
						</div>
						<div class="box_textarea">
							<div class="box_textarea_header">Дополнительная информация:</div>
							<textarea name="" cols="" rows=""></textarea>
						</div>
						<table cellpadding="0" cellspacing="0" class="table_user_form">
							<tr>
								<th>Фамилия:</th>
								<th>Страна:</th>
							</tr>
							<tr>
								<td><input name="" type="text" class="style_input5" /></td>
								<td>
									<select class="style_select">
										<option>Москва</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>Имя:</th>
								<th>Город:</th>
							</tr>
							<tr>
								<td><input name="" type="text" class="style_input5" /></td>
								<td>
									<select class="style_select">
										<option>Москва</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>Отчество:</th>
								<th>Индекс:</th>
							</tr>
							<tr>
								<td><input name="" type="text" class="style_input5" /></td>
								<td><input name="" type="text" class="style_input5" /></td>
							</tr>
							<tr>
								<th>Телефон:</th>
								<th>Улица:</th>
							</tr>
							<tr>
								<td><span class="phone_code">+7</span><input name="" type="text" class="style_input6" /><input name="" type="text" class="style_input7" /></td>
								<td><input name="" type="text" class="style_input5" /></td>
							</tr>
							<tr>
								<th>E-mail:</th>
								<th>
									<div class="adres_text">
										Дом
									</div>
									<div class="adres_text">
										Корпус
									</div>
									<div class="adres_text">
										Строение
									</div>
									<div class="adres_text">
										Квартира
									</div>
								</th>
							</tr>
							<tr>
								<td><input name="" type="text" class="style_input5" /></td>
								<td><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /></td>
							</tr>
						</table>
						<div class="clear"></div>
					</div>
					<div class="bg_tabs2_f">
						<div class="user_data">
							Сменить пароль:
						</div>
						<table cellpadding="0" cellspacing="0" class="table_user_form">
							<tr>
								<th>Старый пароль:</th>
								<th></th>
							</tr>
							<tr>
								<td><input name="" type="text" class="style_input5" /></td>
								<td></td>
							</tr>
							<tr>
								<th>Новый пароль:</th>
								<th>Падтвердите пароль:</th>
							</tr>
							<tr>
								<td><input name="" type="text" class="style_input5" /></td>
								<td><input name="" type="text" class="style_input5" /></td>
							</tr>
						</table>
						<div class="clear"></div>
					</div>
					<div class="box_button_seva">
						<a href="#"><img src="images/save.jpg" alt="" /></a>
					</div>
				</div>
				<!---- Вторая закладка внутри ----->
				<div id="tabs_cont3_2" class="bg_tabs3_box">
					<div class="bg_tabs2_f">
						<div class="user_data">
							Персональные даные ID MO345345
						</div>
						<div class="box_textarea">
							<div class="box_textarea_header">Дополнительная информация:</div>
							<textarea name="" cols="" rows=""></textarea>
						</div>
						<table cellpadding="0" cellspacing="0" class="table_user_form">
							<tr>
								<th>Фамилия:</th>
								<th>Страна:</th>
							</tr>
							<tr>
								<td><input name="" type="text" class="style_input5" /></td>
								<td>
									<select class="style_select">
										<option>Москва</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>Имя:</th>
								<th>Город:</th>
							</tr>
							<tr>
								<td><input name="" type="text" class="style_input5" /></td>
								<td>
									<select class="style_select">
										<option>Москва</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>Отчество:</th>
								<th>Индекс:</th>
							</tr>
							<tr>
								<td><input name="" type="text" class="style_input5" /></td>
								<td><input name="" type="text" class="style_input5" /></td>
							</tr>
							<tr>
								<th>Телефон:</th>
								<th>Улица:</th>
							</tr>
							<tr>
								<td><span class="phone_code">+7</span><input name="" type="text" class="style_input6" /><input name="" type="text" class="style_input7" /></td>
								<td><input name="" type="text" class="style_input5" /></td>
							</tr>
							<tr>
								<th>E-mail:</th>
								<th>
									<div class="adres_text">
										Дом
									</div>
									<div class="adres_text">
										Корпус
									</div>
									<div class="adres_text">
										Строение
									</div>
									<div class="adres_text">
										Квартира
									</div>
								</th>
							</tr>
							<tr>
								<td><input name="" type="text" class="style_input5" /></td>
								<td><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /><input name="" type="text" class="style_input8" /></td>
							</tr>
						</table>
						<div class="clear"></div>
					</div>
					<div class="box_button_seva">
						<a href="#"><img src="images/save.jpg" alt="" /></a>
					</div>
				</div>
				<!---- Третья закладка внутри ----->
				<div id="tabs_cont3_3" class="bg_tabs3_box">
					<div class="bg_tabs2_f">
						
					</div>
				</div>
				<!---- Четвертая закладка внутри ----->
				<div id="tabs_cont3_4" class="bg_tabs3_box">
					<div class="bg_tabs2_f">
						
					</div>
				</div>
			</div>
			<script>
				$(function () {
					var tabContainers = $('div.tabs2 > .bg_tabs3_box'); // получаем массив контейнеров
					tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
					// далее обрабатывается клик по вкладке
					$('div.tabs2 ul.tab5 a').click(function () {
						tabContainers.hide(); // прячем все табы
						tabContainers.filter(this.hash).show(); // показываем содержимое текущего
						$('div.tabs2 ul.tab5 a').removeClass('active'); // у всех убираем класс 'selected'
						$(this).addClass('active'); // текушей вкладке добавляем класс 'selected'
						return false;
					}).filter(':first').click();
				});
			</script>
		</div></div></div>
		<!-------- Вторая закладка --------->
		<div id="tabs_cont_2" class="bg_tabs_f"><div class="bg_tabs_t"><div class="bg_tabs_b">
			<div class="tabs2">
				<ul class="tab4">
					<li><a href="#tabs_cont2_1" class="active">ОСАГО</a></li>
					<li><a href="#tabs_cont2_2">КАСКО</a></li>
					<li><a href="#tabs_cont2_3">ДМС</a></li>
					<li><a href="#tabs_cont2_4">ДАГО</a></li>
					<li><a href="#tabs_cont2_5">НС</a></li>
					<li><a href="#tabs_cont2_6">ВЗР</a></li>
					<li><a href="#tabs_cont2_7">ИФЛ</a></li>
				</ul>
				<div id="tabs_cont2_1" class="bg_tabs2_box">
					<div class="bg_tabs2_f">
						<div class="strahovka_header">
							<strong>СТРАХОВОЙ ПОЛИС</strong>   <span>серия</span> ВВВ  № 0164384562
						</div>
						<div class="contacte_firm">
							<div class="contacte_firm_img">
								<img src="images/firm.jpg" alt="" />
							</div>
							<p>ООО “Росгострах””</p>
							<p>140003, Москва</p>
							<p>Дербеневская наб, дом 7 стр 22</p>
							<p>тел : <strong>+7 (495) 502 00 50</strong></p>
							<p>Факс: +7 (495) 746 54 37</p>
							<p><strong>www.rgs.ru</strong></p>
						</div>
						<table cellpadding="0" cellspacing="0" class="table_tabs_info">
							<tr>
								<th>Срок действия договора</th>
								<td>
									<p><span class="width">с</span> <input name="" type="text" class="style_input2" /> ч. <input name="" type="text" class="style_input2" /> мин. <input name="" type="text" class="style_input3" /> г.</p>
									<p><span class="width">по</span> <input name="" type="text" class="style_input2" /> ч. <input name="" type="text" class="style_input2" /> мин. <input name="" type="text" class="style_input3" /> г.</p>
								</td>
							</tr>
							<tr>	
								<th>Срок действия договора</th>
								<td><input name="" type="text" class="style_input" /></td>
							</tr>
							<tr>
								<th>Собственник транспортного средства</th>
								<td><input name="" type="text" class="style_input" /></td>
							</tr>
							<tr>
								<th>Транспортное средство</th>
								<td><input name="" type="text" class="style_input" /></td>
							</tr>
							<tr>
								<th>Иденфикационный номер 
	транспортного средства</th>
								<td><input name="" type="text" class="style_input" /></td>
							</tr>
							<tr>
								<th>Государственный регистрационый 
	знак транспортного средства</th>
								<td><input name="" type="text" class="style_input" /></td>
							</tr>
							<tr>
								<th>ПТС</th>
								<td>
									Серия <input name="" type="text" class="style_input4" />&nbsp;&nbsp; &nbsp;&nbsp;
									Номер <input name="" type="text" class="style_input4" />
								</td>
							</tr>
						</table>
						<div class="tabs_header">Договор заключен в отношении:</div>
						<p><label>неограниченного количества лиц, допущенных к управлению ТС <input name="" type="checkbox" value="" /></label></p>
						<table cellpadding="0" cellspacing="0" class="table_tabs_info">
							<tr>	
								<th>1. Иванов Иван Сергеевич</th>
								<td><input name="" type="text" class="style_input" /></td>
							</tr>
							<tr>	
								<th>2. Иванов Сергей Александрович</th>
								<td><input name="" type="text" class="style_input" /></td>
							</tr>
						</table>
						<p>Страховая сумма, в пределах который страховщик при наступлении каждого страхового случая
	(независимо от количества страховых случаев в течении срока действия договора обязательного
	страхования) обязуется возместить потерпевшим причененный вред,состовляет:<br />
		в части возмещения вреда,причененного жизни или здоровью каждого потерпевшего,-не более
	160 тыс.рублей;<br />
	   в части возмещения вреда,причененного имуществу нескольких потерпевших,- не более 
	160 тыс.рублей;<br />
		 в части возмещения вреда,причененного имуществу одного потерпевшего,- не более
	120 тыс.рублей;<br /></p>
						<div class="htamp"></div>
						<p>Страховой случай-наступление гражданской ответсвтенности владельца транспортного средства
	 за причинение вреда жизни,здоровью или имуществу потерпевших при использованиии транспортного
	средства за причинение вреда с договором обязательного страхования обязанность страховщика
	осуществить страховую выплату.<br />
						Страховой полис действует на территории Российской Федерации.</p>
						<p>Страховая премия  (две тысячи семьсот семьдесят два рубля 00 копеек) 2 772.00</p>
						<p>Особые отметки DI</p>
						<p>Дата заключения договора <input name="" type="text" class="style_input2" /> <input name="" type="text" class="style_input2" /> <input name="" type="text" class="style_input4" /> г.</p>
						<div class="clear"></div>
					</div>
					<div class="box_button">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td><a href="#"><img src="images/button_more.jpg" alt="" /></a>
								<th></th>
								<td><a href="#"><img src="images/printe.jpg" alt="" /></a>
								<th></th>
								<td><a href="#"><img src="images/prolong.jpg" alt="" /></a>
								<th></th>
								<td><a href="#"><img src="images/edit_button.jpg" alt="" /></a>
							</tr>
						</table>
					</div>
				</div>
				<div id="tabs_cont2_3" class="bg_tabs2_box">3</div>
				<div id="tabs_cont2_4" class="bg_tabs2_box">4</div>
				<div id="tabs_cont2_5" class="bg_tabs2_box">5</div>
				<div id="tabs_cont2_6" class="bg_tabs2_box">6</div>
				<div id="tabs_cont2_7" class="bg_tabs2_box">7</div>
				
			</div>
			<script>
				$(function () {
					var tabContainers = $('div.tabs2 > .bg_tabs2_box'); // получаем массив контейнеров
					tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
					// далее обрабатывается клик по вкладке
					$('div.tabs2 ul.tab4 a').click(function () {
						tabContainers.hide(); // прячем все табы
						tabContainers.filter(this.hash).show(); // показываем содержимое текущего
						$('div.tabs2 ul.tab4 a').removeClass('active'); // у всех убираем класс 'selected'
						$(this).addClass('active'); // текушей вкладке добавляем класс 'selected'
						return false;
					}).filter(':first').click();
				});
			</script>
		</div></div></div>
		<div id="tabs_cont_3" class="bg_tabs_f"><div class="bg_tabs_t">3</div></div>
		<div id="tabs_cont_4" class="bg_tabs_f"><div class="bg_tabs_t">4</div></div>
		<div id="tabs_cont_5" class="bg_tabs_f"><div class="bg_tabs_t">5</div></div>
		<div id="tabs_cont_6" class="bg_tabs_f"><div class="bg_tabs_t">6</div></div>
		<div id="tabs_cont_7" class="bg_tabs_f"><div class="bg_tabs_t">7</div></div>
	</div>
	<script>
		$(function () {
			var tabContainers = $('div.tabs_box > .bg_tabs_f'); // получаем массив контейнеров
			tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
			// далее обрабатывается клик по вкладке
			$('div.tabs_box ul.tabs a').click(function () {
				tabContainers.hide(); // прячем все табы
				tabContainers.filter(this.hash).show(); // показываем содержимое текущего
				$('div.tabs_box ul.tabs a').removeClass('active'); // у всех убираем класс 'selected'
				$(this).addClass('active'); // текушей вкладке добавляем класс 'selected'
				return false;
			}).filter(':first').click();
		});
	</script>
</div>
<!-- Конец контент -->
<!-- Подвал  -->
<div class="footer">
	<div class="copyright">
		СТРАХОВАЯ КОМПАНИЯ <span>POLISBOOK</span>
	</div>
	<div class="email_1">
		Все жалобы и предложения<br />
		принимаются по адресу:
		<a href="mailto:info@polisbook.ru">info@polisbook.ru</a>
	</div>
	<div class="email_2">
		Вы можете связаться<br />
		с нами через отдел:<br />
		<a href="#">Online-консультации</a>.
	</div>
	<div class="phone_ico"></div>
</div>
<!-- Конец подвал  --> 
<div class="pop_up pop_up_register" id="pop_up_1">
	<div class="pop_up_header">
		<div class="close"></div>
		Регистрация нового пользователя
	</div>
	<div class="pop_up_cont"><div class="pop_up_cont_in">
		<form action="" method="get">
			<table cellspacing="0" cellpadding="0" class="table_user_form">
				<tr>
					<th>Фамилия:</th>
					<th>*Адрес эл.почты:</th>
				</tr>
				<tr>
					<td><input type="text" class="style_input5 style_input_red" name=""></td>
					<td><input type="text" class="style_input5" name=""></td>
				</tr>
				<tr>
					<th>Имя:</th>
					<th>*Повторите адрес эл.почты:</th>
				</tr>
				<tr>
					<td><input type="text" class="style_input5" name=""></td>
					<td><input type="text" class="style_input5" name=""></td>
				</tr>
				<tr>
					<th>Отчество:</th>
					<th>*Пароль:</th>
				</tr>
				<tr>
					<td><input type="text" class="style_input5" name=""></td>
					<td><input type="text" class="style_input5" name=""></td>
				</tr>
				<tr>
					<th>Телефон:</th>
					<th>*Повторите пароль:</th>
				</tr>
				<tr>
					<td><span class="phone_code">+7</span><input type="text" class="style_input6" name=""><input type="text" class="style_input7" name=""></td>
					<td><input type="text" class="style_input5" name=""></td>
				</tr>
			</table>
			<div class="register_checbox">
				<p>я согласен с правилами регистрации <input type="checkbox" class="style_checkbox" /></p>
				<p class="comment_error">*Обязательные поля для заполнения</p>
			</div>
			<div class="pop_up_button">
				<input name="" type="button" value="Зарегестрироваться" />
			</div>
		</form>
	</div></div>
</div>


<div class="pop_up pop_up_autorize" id="pop_up_2">
	<div class="pop_up_header">
		<div class="close"></div>
		Личный кабинет
	</div>
	<div class="pop_up_cont"><div class="pop_up_cont_in">
		<form action="" method="get">
			<table cellspacing="0" cellpadding="0" class="table_user_form">
				<tr>
					<th>*Адрес эл.почты:</th>
				</tr>
				<tr>
					<td><input type="text" class="style_input5 style_input_red" name="">
					<p class="message_error">*Не верный адрес эл.почты</p></td>
				</tr>
				<tr>
					<th>*Пароль:</th>
				</tr>
				<tr>
					<td><input type="text" class="style_input5 style_input_red" name="">
					<p class="message_error">*Не верный пароль</p></td>
				</tr>
				<tr>
					<td><div class="pop_up_button_enter"><input name="" type="button" value="Войти" class="button_style" /></div></td>
				</tr>
				<tr>
					<td>Что делать если вы <a href="#">забыли пароль?</a></td>
				</tr>
			</table>
		</form>
	</div></div>
</div>


<div class="pop_up pop_up_password_recovery" id="pop_up_3">
	<div class="pop_up_header">
		<div class="close"></div>
		Восстановление пароля
	</div>
	<div class="pop_up_cont"><div class="pop_up_cont_in">
		<div class="pop_up_header2">
			Что же  делать, если вы забыли пароль?
		</div>
		<p>В форму ниже введите свой электронный адрес, указанный при регестрации.
Через несколько минут на ваш Адрес эл,почты придет письмо с паролем,</p>
		<div class="form_email">
			<p>*Адрес эл.почты:</p>
			<div class="form_email_input">
				<form action="" method="get">
					<input name="" type="text" class="form_email_input_text" />
					<input name="" type="text" class="form_email_input_button" value="Отправить" />
				</form>
			</div>
			<p class="color_red">*Пользователь не найден</p>
			<p class="color_red">*Не верный адрес эл.почты</p>
		</div>
		<div class="pop_up_contacs">
			Если при восстонавлении пароля у вас возникли сложности, свяжитесь с нами:<br />
+7 (495) 345 43 N\A , skype: polisbook.support.
		</div>
	</div></div>
</div>


<div class="pop_up pop_up_questions" id="pop_up_4">
	<div class="pop_up_header">
		<div class="close"></div>
		Вопросы
	</div>
	<div class="pop_up_cont"><div class="pop_up_cont_in">
		<div class="pop_up_questions_l">
			<form action="" method="get">
				<div class="pop_up_header2">
					У вас есть вопрос?
				</div>
				<div class="questions_form">
					<div class="questions_form_header">Задать вопрос:</div>
					<textarea name="" cols="" rows="" class="questions_textarea"></textarea>
				</div>
				<div class="box_form_code">
					<input name="" type="text" class="code_input" />
					<div class="code">
						<img src="images/code.jpg" alt="" />
					</div>
					<div class="link_reset"><a href="#"><img src="images/reset.gif" alt="" /></a></div>
				</div>
				<div class="fonsize_11">
					<p>Введите код указанный на картинке.</p>
					<p class="color_red">*Вы ввели не правильно код с картинки</p>
				</div>
				<div class="pop_up_button_send">
					<input name="" type="button" value="Отправить" class="style_input_button" />
				</div>
			</form>
		</div>
		<div class="pop_up_questions_r">
			<div class="pop_up_header2">
				FAQ
			</div>
			<ul class="faq">
				<li><a href="#">Частозадаваемые вопросы</a></li>
				<li><a href="#">Как оформить полис</a></li>
				<li><a href="#">Что делать при утере полиса</a></li>
			</ul>
		</div>
	</div></div>
</div>
</body>
</html>
