<form action="" method="post">{% csrf_token %}
  <div class="bg_tabs2_f">
    {% if persona %}
    <div class="user_data">
      Персональные данные ID {{ persona.id }}
    </div>
    {% endif %}

    <table cellpadding="0" cellspacing="0" class="table_user_form">
      <tr>
        <th>Фамилия:</th>
      </tr>
      <tr>
        <td>{{ form.last_name }}</td>
      </tr>
      <tr>
        <th>Имя:</th>
      </tr>
      <tr>
        <td>{{ form.first_name }}</td>
      </tr>
      <tr>
        <th>Отчество:</th>
      </tr>
      <tr>
        <td>{{ form.middle_name }}</td>
      </tr>
    </table>
    <div class="clear"></div>
  </div>
  <div class="box_button_seva">
    <p><input name="" type="submit" value="СОХРАНИТЬ" class="style_button" /></p>
  </div>
</form>

