<div class="pop_up_main pop_up_questions pop_up_long">
        <div class="pop_up_header">
            Вопросы
        </div>
        <div class="pop_up_cont"><div class="pop_up_cont_in">
            <div class="pop_up_questions_l">
    <form action="{% url ins_notification_question %}" method="POST">{% csrf_token %}
      <div class="pop_up_header2">
      {{ form.non_field_errors }}
        У вас есть вопрос?
      </div>
      <div class="questions_form">
        {% if not user.is_authenticated %}
            <div class="questions_form_header">Ваш email(на него придет ответ):</div>
            <p class="style_input8">{{ form.email }}</p>
            {% if form.email.errors %}
                <p class="color_red">*Введите правильный e-mail</p>
            {% endif %}
        {% endif %}
        <div class="questions_form_header">Ваш вопрос:</div>
        <p class="questions_textarea">{{ form.body }}</p>
        {% if form.body.errors %}
            <p class="color_red">*Введите ваш вопрос</p>
        {% endif %}
      </div>
       {% if not user.is_authenticated %}
      <div class="fonsize_11">
        <p>Введите код указанный на картинке.</p>
        {{ form.captcha }}
        {% if form.captcha.errors %}
            <p class="color_red">*Вы ввели неправильный код.</p>
        {% endif %}

      </div>
      {% endif %}
      <div class="pop_up_button_send">
        <input type="submit" value="Отправить" class="style_input_button" />
      </div>
    </form>
      </div>
      <div class="pop_up_questions_r">
    <div class="pop_up_header2">
      FAQ
    </div>
    <ul class="faq">
      <li><a href="#">Частозадаваемые вопросы</a></li>
      <li><a href="#">Как оформить полис</a></li>
      <li><a href="#">Что делать при утере полиса</a></li>
    </ul>
      </div>
  </div>
  </div>
  </div>
</div>
