<tr>
  <td class="td_1">
    {{ row.full_name }}
    <a href="#"><img src="{{ STATIC_URL }}images/baner.jpg" alt="" /></a>
  </td>
  <td class="td_2">&nbsp;</td>
  <td class="td_2">&nbsp;</td>
  <td class="td_2">&nbsp;</td>
  <td class="td_2"><img src="{{ STATIC_URL }}images/ok.png" alt="" /></td>
  <td class="td_2">&nbsp;</td>
  <td class="td_2">&nbsp;</td>
  <td class="td_2">&nbsp;</td>
  <td class="td_2">&nbsp;</td>
  <td class="td_10">
    ЭВАКУАЦИЯ<br /> СТЕКЛА БЕЗ СПРАВОК<br /> ЛКП БЕЗ СПРАВОК
  </td>
  <td class="td_11">
    <div class="strahovka_button"><a href="#"><img src="{{ STATIC_URL }}images/zakaz.jpg" alt="" /></a></div>
    <div class="price">{{ row.ourscore }} <span>руб.</span></div>
    <div class="price_none">{{ row.score }} руб.</div>
  </td>
</tr>
