# local_settings.py file template. Correct the file to settings your prefer and rename it into "local_settings.py"

# Debug mode on (static and media files will be served throught Django mechanisms)
DEBUG = True
TEMPLATE_DEBUG = DEBUG

# DB settings
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'insurance.db',                      # Or path to database file if using sqlite3.
    },
    'remote': {
        'NAME': 'inservlet',
        'ENGINE': 'django.db.backends.mysql',
        'USER': 'insdu',
        'PASSWORD': 'insdpwd',
        'HOST': '188.127.249.249',
        'PORT': 3306
    }
}

DATABASE_ROUTERS = ['router.NewcalcRouter',]

# Unique 
SECRET_KEY = 'y8!nb5y#di-gm&6glczhn1x6!anpk#i$$(qtq7p@^0k)x*(qb$'

# Django mailer settings
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'email@email.ru'
EMAIL_HOST_PASSWORD = 'password'
EMAIL_PORT = 587
EMAIL_USE_TLS = True

# 1 for Polisbook.ru, 2 for dev.polisbook.ru
SITE_ID = 1


# ========= Servlet DB settings =========
SERVLET_DB_PORT = 3306
SERVLET_DB_HOST = '188.127.249.249'
SERVLET_DB = 'inservlet'
SERVLET_DB_USER = 'insdu'
SERVLET_DB_PASS = 'insdpwd'

SERVLET_URL = {"kasko": 'http://www.polisbook.ru:8080/ServerIF/MatrixIF',
               "osago": 'http://www.polisbook.ru:8080/ServerOsago/PB_Osago',
               "ifl": "http://www.polisbook.ru:8080/ServerProperty/PB_Property",
               "foreign": "http://www.polisbook.ru:8080/ServerVZR/PB_VZR"}       

SERVLET_FAKE = False

SERVLET_TIMEOUT = 360
