# local_settings.py file template. Correct the file to settings your prefer and rename it into "local_settings.py"

# Debug mode on (static and media files will be served throught Django mechanisms)
DEBUG = True
TEMPLATE_DEBUG = DEBUG

# DB settings
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'insurance.db',                      # Or path to database file if using sqlite3.
    }
}

# Unique 
SECRET_KEY = 'y8!nb5y#di-gm&6glczhn1x6!anpk#i$$(qtq7p@^0k)x*(qb$'

# Django mailer settings
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'username'
EMAIL_HOST_PASSWORD = 'username pass'
EMAIL_PORT = 587
EMAIL_USE_TLS = True

# 1 for directif.ru, 2 for dev.directif.ru
SITE_ID = 1

# ========= Servlet DB settings =========
# SERVLET_DB_PORT = 4306
