{% extends "base.html" %}

{% block content %}



Марка: {{ mark }}. Модель: {{ model }}. Год выпуска: {{ model_year }}. Руль: {{ weel }}.
Мощность: {{ power }} Город: {{ city }}. Цена: {{ price }}. Кредит: {{ credit }}.
Возраст: {{ age }}. Опыт вождения: {{ experience_driving }}
<hr />

<table width="" cellspacing="5" cellpadding="4" border="">
  <tr>
    <td>Название</td>
    <td>Наши баллы</td>
    <td>Рейтинг</td>
    <td>Альяс</td>
    <td>Баллы</td>
  </tr>
  {% for r in result.info %}
  <tr>
    <td>{{ r.full_name }}</td>
    <td>{{ r.ourscore }}</td>
    <td>{{ r.rating }}</td>
    <td>{{ r.alias }}</td>
    <td>{{ r.score }}</td>
  </tr>
  {% endfor %}
</table>



<hr />
<a href="{% url calc.views.calc_step_1 %}?{{ query_str }}">Назад</a>

{% endblock %} <!-- Конец контент -->


