{% extends "base.html" %}


{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/base/jquery.ui.all.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.slider.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.accordion.js"></script>

<!-- EK code -->
<script type="text/javascript" src="{{ STATIC_URL }}calc/js/lib_dbg.js"></script>
<script type="text/javascript">
  marks = {{ marks|safe }}
  models = {{ models|safe }}
  years = {{ years|safe }}
  request_type = {{ request_type|safe }}
  {% if mark %}
    mark = {{ mark|safe }}
    {% endif %}
  {% if js_str %}
  get_data = {{ js_str|safe }}
  {% endif %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}calc/js/calc_step_1.js"></script>
<!-- END: EK code -->

<!-- <script> -->
<!-- $(function() { -->
<!-- 	$( "#slider-range-min" ).slider({ -->
<!-- 		range: "min", -->
<!-- 		step: 100, -->
<!-- 		value: 1000, -->
<!-- 		min: 100, -->
<!-- 		max: 90000, -->
<!-- 		slide: function( event, ui ) { -->
<!-- 			$( "#amount" ).val( "$" + ui.value ); -->
<!-- 		} -->
<!-- 	}); -->
<!-- 	$( "#amount" ).val( "$" + $( "#slider-range-min" ).slider( "value" ) ); -->
<!-- }); -->
<!-- </script> -->


{% endblock %} <!-- extra_head -->

{% block content %}

<div class="calk">
  <div class="baner_left"><a href="#"><img src="{{ STATIC_URL }}images/baner0.jpg" alt="" /></a></div>
  <div class="calk_form">
    <form action="/calc/calc_step_1/" method="post">
      {% csrf_token %}

    <div class="calk_tabs">
      <ul class="calk_tabs_link">
	<li><a class="" href="#tabs_1">КАСКО</a></li>
	<li><a class="" href="#tabs_2">ОСАГО</a></li>
	<li><a class="" href="#tabs_3">ДМС</a></li>
	<li><a class="" href="#tabs_4">ДАГО</a></li>
	<li><a class="" href="#tabs_5">НС</a></li>
	<li><a class="" href="#tabs_6">ВЗР</a></li>
	<li><a class="" href="#tabs_7">ИЛ</a></li>
      </ul>
      <div class="calk_content" id="tabs_1">
        <div class="select_style">
	  <select class="sel80" name="mark" id="id_marks" tabindex="2">
	    <option selected="selected" value="1000">Марка автомобиля...</option>
	  </select>
	{% if mark_error %}
	    <div class="form_errors">
	      {{ mark_error }}
	    </div>
	{% endif %}
	</div>

        <div class="setup_box">
          <div class="setup">
            <table width="460" cellspacing="5" cellpadding="4" border="0">
              <tr>
                <td>Модель автомобиля: </td>
                <td>
                  <select name="model" id="id_models">
                    <option value="" selected>-</option>
                  </select>
                </td>
                <td>
		  <div class="form_errors">
		    {{ calc_step_one_form.model.errors }}
		  </div>
		</td>
              </tr>

              <tr>
                <td>Год выпуска автомобиля: </td>
                <td>
                  <select name="model_year" id="id_years">
                    <option value="" selected>-</option>
                  </select>
                </td>
                <td>
		  <div class="form_errors">
		  {{ calc_step_one_form.model_year.errors }}
		  </div>
		</td>
              </tr>

              <tr>
                <td>Руль: </td>
                <td>{{ calc_step_one_form.wheel }}</td>
              </tr>

              <tr>
                <td>Объем двигателя: </td>
		<td>
		  <select id="id_power" name="power" >
		  </select>
		</td>
              </tr>

              <tr>
                <td>Город: </td>
                <td>{{ calc_step_one_form.city }}</td>
              </tr>

              <tr>
                <td>Цена: </td>
                <td>
                  {# {{ calc_step_one_form.price }} #}
                  <input type="text" name="price" value="" id="id_price" />
                  <div id="calc_price"></div>
                </td>
              </tr>

              <tr>
                <td>Кредит: </td>
                <td>{{ calc_step_one_form.credit }}</td>
              </tr>

              <tr>
                <td>Возраст: </td>
                <td>{{ calc_step_one_form.age }}</td>
              </tr>

              <tr>
                <td>Опыт вождения: </td>
                <td>{{ calc_step_one_form.experience_driving }}</td>
              </tr>

            </table>
          </div>
        </div>

      </div>
      <div class="calk_content" id="tabs_2">
	f
      </div>
      <div class="calk_content" id="tabs_3">
	f
      </div>
      <div class="calk_content" id="tabs_4">
	f
      </div>
      <div class="calk_content" id="tabs_5">
	f
      </div>
      <div class="calk_content" id="tabs_6">
	f
      </div>
      <div class="calk_content" id="tabs_7">
	f
      </div>
      <script>
	$(function () {
	    var tabContainers = $('div.calk_tabs > .calk_content'); // получаем массив контейнеров
	    tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
	    // далее обрабатывается клик по вкладке
	    $('div.calk_tabs ul.calk_tabs_link a').click(function () {
	        tabContainers.hide(); // прячем все табы
	        tabContainers.filter(this.hash).show(); // показываем содержимое текущего
	        $('div.calk_tabs ul.calk_tabs_link a').removeClass('selected'); // у всех убираем класс 'selected'
	        $(this).addClass('selected'); // текушей вкладке добавляем класс 'selected'
	        return false;
	    }).filter(':first').click();
	});
      </script>
    </div>
    <div class="assume">
      <input type="image" src="{{ STATIC_URL }}images/assume.jpg" value="Результат" />
    </div>
    </form>

  </div>

</div>




{% endblock %} <!-- Конец контент -->


