{% extends "calc/calc.html" %}
{% block extra_head %}
{% endblock %}


{% block tab_content %}

    <form action="" method="post">
        {% csrf_token %}
        <p><label for="id_first_name">Имя
            страхователя:</label> {{ form.first_name }} {{ form.first_name.errors }}
        </p>

        <p><label for="id_last_name">Фамилия
            страхователя:</label> {{ form.last_name }} {{ form.last_name.errors }}
        </p>

        <p><label for="id_middle_name">Отчество
            страхователя:</label> {{ form.middle_name }} {{ form.middle_name.errors }}
        </p>

        <p><label for="id_birth_date">Дата рождения
            страхователя:</label> {{ form.birth_date }} {{ form.birth_date.errors }}
        </p>

        <p><label for="id_sex">Пол:</label> {{ form.sex }} {{ form.sex.errors }}
        </p>

        <p><label for="id_category">Категория
            прав:</label> {{ form.category }} {{ form.category.errors }}</p>

        <p><label
                for="id_citizenship">Гражданство:</label> {{ form.citizenship }} {{ form.citizenship.errors }}
        </p>

        <p><label for="id_passport_series">Серия
            паспорта:</label> {{ form.passport_series }} {{ form.passport_series.errors }}
        </p>

        <p><label for="id_passport_number">Номер
            паспорта:</label> {{ form.passport_number }} {{ form.passport_number.errors }}
        </p>

        <p><label for="id_issued_org">Кем
            выдан:</label> {{ form.issued_org }} {{ form.issued_org.errors }}
        </p>

        <p><label for="id_issued_date">Дата
            выдачи:</label> {{ form.issued_date }} {{ form.issued_date.errors }}
        </p>

        <p><label for="id_reg_region">Область,
            край:</label> {{ form.reg_region }} {{ form.reg_region.errors }}</p>

        <p><label
                for="id_reg_area">Район:</label> {{ form.reg_area }} {{ form.reg_area.errors }}
        </p>

        <p><label for="id_reg_city">Населенный
            пункт:</label> {{ form.reg_city }} {{ form.reg_city.errors }}
        </p>

        <p><label
                for="id_reg_street">Улица:</label> {{ form.reg_street }} {{ form.reg_street.errors }}
        </p>

        <p><label
                for="id_reg_index">Индекс:</label> {{ form.reg_index }} {{ form.reg_index.errors }}
        </p>

        <p><label
                for="id_reg_building">Дом:</label> {{ form.reg_building }} {{ form.reg_building.errors }}
        </p>

        <p><label
                for="id_reg_housing">Корпус:</label> {{ form.reg_housing }} {{ form.reg_housing.errors }}
        </p>

        <p><label
                for="id_reg_flat">Квартира:</label> {{ form.reg_flat }} {{ form.reg_flat.errors }}
        </p>

        <p><label for="id_live_region">Область,
            край:</label> {{ form.live_region }} {{ form.live_region.errors }}
        </p>

        <p><label
                for="id_live_area">Район:</label> {{ form.live_area }} {{ form.live_area.errors }}
        </p>

        <p><label for="id_live_city">Населенный
            пункт:</label> {{ form.live_city }} {{ form.live_city.errors }}
        </p>

        <p><label
                for="id_live_street">Улица:</label> {{ form.live_street }} {{ form.live_street.errors }}
        </p>

        <p><label
                for="id_live_index">Индекс:</label> {{ form.live_index }} {{ form.live_index.errors }}
        </p>

        <p><label
                for="id_live_building">Дом:</label> {{ form.live_building }} {{ form.live_building.errors }}
        </p>

        <p><label
                for="id_live_housing">Корпус:</label> {{ form.live_housing }} {{ form.live_housing.errors }}
        </p>

        <p><label
                for="id_live_flat">Квартира:</label> {{ form.live_flat }} {{ form.live_flat.errors }}
        </p>
        <input type="submit" value="Дальше"/>
    </form>

{% endblock %}
