{% extends "base.html" %}
{% block extra_head %}
    <script type="text/javascript" src="/static/js/calc/calc.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/static/js/calc/jscrollpane.js"></script>

    <script type="text/javascript">
        var model = "{% url get_models %}",
                model_year = "{% url get_years %}",
                power = "{% url get_powers %}",
                price = "{% url get_price %}";

        $(function() {
            //Add class to table cell's
            $("#info-main-driver td:odd").addClass("second");
            $("#info-main-driver tr.hide").css("display", "none");

            $(".short-select").each(function(e) {
                $(this).attr("id", "short-" + (e + 1));
                transform_select($(this));
            })

            //price slider
            priceSlider($("#price-slider"), "#id_dago", 250000, 2500000);

            //Change other ajax-selects
/*            $(".ajax-select select").change(function() {
                get_auto_data($(this).attr("name"));
            }) */

            //Click on visible data elements
            $(".visible-data .visual span").live('click', function() {
                var nextSelect = $(this).parents("td").find("select"),
                        nextRow = $(this).parents("tr").next(),
                        nextRows = $(this).parents("tr").nextAll(),
                        parent = $(this).parent();

                if (parent.attr("class") == "container") {
                    parent = $(this).parent().parent();
                }
//                nextRows.hide();
                parent.find("span").removeClass("active");
                $(this).addClass("active");
                nextSelect.val($(this).attr("rel"));
                nextSelect.change();

                if ((nextRow.index()) == 3) {
                    $("#require-auto-data-first tr").show();
                } else {
                    nextRow.show();
                }
            })

            //Draw all select values in frist block
//            get_visible_select_data_model($("#require-block-1 #id_model").attr("id"));

            $("#require-block-1 select").each(function() {
                var id = $(this).attr("id");
                get_visible_select_data(id);
            })

            //Type into input element inside select
            $(".long-select input").keyup(function(e) {
                userTypeInputFirst($(this));
            })

            $(".short-select input").keyup(function(e) {
                if (e.keyCode == 8) {
                    $(this).val("");
                }
                userTypeInput($(this));
            })

            //Save value in input on click button
            $(".short-select input").keypress(function(e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    saveValue($(this));
                    return false;
                }
            })

            $(".short-select input").change(function() {
                saveValue($(this));
            })


            $(".short-select input, .long-select input").click(function() {
                $(this).select();
            })

            //Clear additional drivers info
            $("#info-main-driver .hide select").val("");
        })
    </script>
{% endblock %}

{% block content %}
    <div id="overlay"><img src="/static/images/preloader.gif" alt=""/></div>

    <div id="calc-tabs">
    <ul>
        <li><a href="#tabs-1" title="Kasko">КАСКО</a></li>
        <li><a href="{% url ncalc_step1_osago %}" titla="Osago">ОСАГО</a></li>
        <li><a href="#tabs-3">ДМС</a></li>
        <li><a href="#tabs-5">HC</a></li>
        <li><a href="#tabs-6">ВЗР</a></li>
        <li><a href="#tabs-7">ИФЛ</a></li>
    </ul>

    <div id="tabs-2">
    <form action="" method="post" id="form-step1">
    {% csrf_token %}

    {% if s1_form.non_field_errors %}
        <div>
            <h2>Ошибки заполнения формы:</h2>
            {{ s1_form.non_field_errors }}
        </div>
    {% endif %}
    <div class="form-round-block" id="optional-block-1">
        <table id="info-main-driver">
            <tr>
                <td class="label">
                    {{ s1_form.age.label }}
                    <small>(полных лет)</small>
                </td>
                <td>
                    <div class="short-select">
                        <input type="text" maxlength="2" value=""/>
                        {{ s1_form.age }}
                    </div>
                    {{ s1_form.age.errors }}
                </td>
                <td class="label">
                    {{ s1_form.experience_driving.label }}
                    <small>(полных лет)</small>
                </td>
                <td>
                    <div class="short-select">
                        <input type="text" maxlength="2" value=""/>
                        {{ s1_form.experience_driving }}
                    </div>
                    {{ s1_form.experience_driving.errors }}
                </td>
            </tr>
        </table>
    </div>

    <div class="form-round-block" id="require-block-1">
        <table id="require-auto-data-first">
            <tr>
                <td>
                    {{ s1_form.country.label }}
                    <span class="table-error">{{ s1_form.country.errors }}</span>
                </td>
                <td class="visible-data">
                    <div class="visual">
                    <select id="id_country" name="country">
                        <option value="">--------</option>
                        <option selected="selected" value="1">Российская Федерация</option>
                    </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    {{ s1_form.city.label }}
                    <span class="table-error">{{ s1_form.city.errors }}</span>
                </td>
                <td class="visible-data second">
                    <div class="visual"></div>
                    {{ s1_form.city }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ s1_form.dago.label }}
                    <span class="table-error">{{ s1_form.dago.errors }}</span>
                </td>
                <td class="second">
                    {{ s1_form.dago }}
                    <div id="price-slider-container">
                        <span id="min"></span>
                        <span id="max"></span>

                        <div id="price-slider"></div>
                    </div>
                    <span id="stoim"></span>
                </td>
            </tr>
            <tr>
                <td>
                    {{ s1_form.violations.label }}
                    <span class="table-error">{{ s1_form.violations.errors }}</span>
                </td>
                <td class="visible-data second">
                    <div class="visual"></div>
                    {{ s1_form.violations }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ s1_form.power.label }}
                    <span class="table-error">{{ s1_form.power.errors }}</span>
                </td>
                <td class="visible-data second">
                    <div class="visual"></div>
                    <span class="ajax-select">{{ s1_form.power }}</span>
                </td>
            </tr>
        </table>
    </div>



    <input id="calculate-button" type="image" value="" src="/static/images/calculate_button.png"/>
    </form>

    <br/>

    <a href="{% url cleansession %}">очистить введенные данные</a>
    </div>
</div>
{% endblock %}


