{% extends "calc/calc.html" %}
{% block extra_head %}
    <script type="text/javascript" src="/static/js/calc/calc.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/static/js/calc/jscrollpane.js"></script>
{% endblock %}

{% block tab_content %}

            <div class="form-round-block">
                <form action="" method="post">

                    <table id="step3-data">
                        <tr>
                            <td>Тип полиса</td>
                            <td>{{ data.insurance_type }}</td>
                        </tr>
                        <tr>
                            <td>Марка автомобиля</td>
                            <td>{{ data.mark }}</td>
                        </tr>
                        <tr>
                            <td>Модель автомобиля</td>
                            <td>{{ data.model }}</td>
                        </tr>
                        <tr>
                            <td>Год выпуска</td>
                            <td>{{ data.model_year }}</td>
                        </tr>
                        <tr>
                            <td>Мощность</td>
                            <td>{{ data.power }}</td>
                        </tr>
                        <tr>
                            <td>Регистрация собственника</td>
                            <td>Российская Федерация</td>
                        </tr>
                        <tr>
                            <td>Территория использования ТС</td>
                            <td>{{ data.city }}</td>
                        </tr>
                        <tr>
                            <td>Возраст</td>
                            <td>{{ data.age }}</td>
                        </tr>
                        <tr>
                            <td>Стаж вождения</td>
                            <td>{{ data.experience_driving }}</td>
                        </tr>
                        <tr>
                            <td>Число водителей</td>
                            <td>{{ data.dr_nr }}</td>
                        </tr>
                        <tr>
                            <td>Страховщик</td>
                            <td>{{ data.company }}</td>
                        </tr>
                        {% csrf_token %}
                    </table>

                    <input type="image" src="/static/images/order_button_step3.png" value="Заказать"/>
                </form>
            </div>

{% endblock %}
